[2018-01-08 16:02] owainlewis opened #1 "Allow user to create a my.cnf configuration file"
As a user of the MySQL Operator, I want to specify a custom config map containing a my.cnf file so that I can customise the configuration of my clusters.

[2018-01-09 12:47] #1 closed, assigned to owainlewis

[2018-01-09 14:18] owainlewis opened #5 "Global configuration file for MySQL Operator"
Currently we hardcode some potentially dynamic values as constants in the operator codebase. For example

[code]

As a user of the MySQL Operator, I want a global configuration file. It is assumed that this would be a KubernetesConfig map and that this config map would be created as part of the Helm chart install.

A user should be able to change these values via configuration for obvious reasons.

[2018-01-09 16:30] owainlewis opened #6 "Prometheus Metrics for MySQL Agent"
We have Prometheus metrics for the MySQL Operator but do not have any for the MySQL Agent.

We should add metrics to the MySQL Agent that shows the number of backups and restores as well as lifecycle events such as errors in the cluster. See https://github.com/oracle/mysql-operator/blob/master/pkg/controllers/cluster/manager/cluster_manager.go

In particular metrics around cluster state are likely

[2018-01-12 10:54] jan-g opened #11 "Scheduled backup documentation missing endpoint config"
It's there for ad hoc backups, not for the schedule.

[2018-01-12 10:56] jan-g opened #12 "More complex restore example"
If I'm backing up from a main (say, 3-node) cluster, I might want to test a restore to a different, sacrificial 1-node cluster in the same k8s. (It's not a backup until you know you can restore it!)

It'd be handy to see a worked example of this.

[2018-01-12 11:00] jan-g opened #13 "Create initial DB and user"
At the moment I'm using a helm chart to make a job that initialises the cluster once it's up. This feels like a bit of a hack:

[code]

[2018-01-12 15:36] owainlewis opened #16 "Support multi-primary mode"
As a consumer of the MySQL Operator, I would like it to support multi-primary mode.

https://dev.mysql.com/doc/refman/5.7/en/group-replication-multi-primary-mode.html

**TODO:**

 - [ ] Extend `MySQLClusterSpec` type to include `multiPrimary bool` field
 - [ ] Update the cluster labeller to support multi-primary mode by either guarding its execution with leader election or by disabling it in multi

[2018-01-12 15:54] owainlewis opened #17 "Backup documentation and examples are incorrect"
I believe the backup documentation (scheduled backups) and examples are incorrect when comparing to the go structs.

[2018-01-12 15:57] #17 closed, assigned to nobody

[2018-01-15 10:05] owainlewis opened #18 "Remove BMCS Go SDK"
Remove the following dependency as it's not cleared for release

[[constraint]]
  name = "github.com/oracle/bmcs-go-sdk"

[2018-01-15 12:45] #18 closed, assigned to owainlewis

[2018-01-15 15:32] jan-g opened #21 "MysqlBackupSchedule missing attributes - no user-visible report"
Had a malformed (strictly, missing attributes) MysqlBackupSchedule object. Eventually found an error about it - it was hiddin in the mysql-operator logs.

Is there a way to surface that through an event on the MBS object itself?

[code]

[2018-01-15 17:06] jan-g opened #23 "BackupSpec has mislabeled JSON attribute"
https://github.com/oracle/mysql-operator/blob/master/pkg/apis/mysql/v1/backup.go#L57

"nodeSelector" should be spelt "config" (!) :-)

[2018-01-16 13:37] owainlewis opened #25 "Move documentation into Github Pages"

[2018-01-16 13:42] owainlewis opened #26 "YAML files are untested"
Possibly find a way to test the examples folder since mistakes have been creeping in.

[2018-01-16 13:43] #6 closed, assigned to kristenjacobs

[2018-01-17 15:27] prydie opened #30 "Use controller expectations"
We should make use of [controller expectations](https://github.com/kubernetes/kubernetes/blob/20f27a77eeeb7c2ddc3e1e530c1c3d87cf05e494/pkg/controller/controller_utils.go#L107) in controllers where we create/delete resources.

See [`ReplicaSetController`](https://github.com/kubernetes/kubernetes/blob/20f27a77eeeb7c2ddc3e1e530c1c3d87cf05e494/pkg/controller/replicaset/replica_set.go#L90) in core.

Th

[2018-01-18 08:44] owainlewis opened #31 "Backup documentation is invalid"
The backup documentation examples appear to be incorrect

1. examples/backup.yaml
2. docs/user/backup.md
3. We should use a from-literal when creating S3 credentials (currently documentation talks about creating these from a file which is overkill).

[code]

[2018-01-18 08:50] owainlewis opened #32 "Group files in the examples folder"
Group files in the examples folder to make things more organised.

For example examples/cluster/cluster.yml

Use a folder per feature

- examples
  - backup
  - cluster
  - restore

[2018-01-18 09:17] #23 closed, assigned to kristenjacobs

[2018-01-18 09:37] owainlewis opened #36 "Make registry public and remove references to Docker secret"
Once we have legal approval to Open Source, make the Docker repo public and remove all references to the odx-docker-pull-secret from documentation.

[2018-01-18 09:42] owainlewis opened #37 "Record events in MysqlBackupSchedule controller."
See #21

[2018-01-18 09:44] #21 closed, assigned to nobody

[2018-01-18 10:18] owainlewis opened #40 "Custom boilerplate checker"
We borrow some code to do boilerplate checking from Kubernetes which is written in Python. Would be nicer to have a single go file to perform this as it's a simple enough task.

[2018-01-18 10:28] #16 closed, assigned to kristenjacobs

[2018-01-18 10:48] owainlewis opened #41 "Publish new v0.1.0 release and update changelog"
When open sourcing we will need to publish a new release and update the change log to reflect reality.

[2018-01-18 13:56] #32 closed, assigned to owainlewis

[2018-01-18 14:03] #31 closed, assigned to kristenjacobs

[2018-01-18 15:32] #26 closed, assigned to kristenjacobs

[2018-01-18 15:32] #12 closed, assigned to kristenjacobs

[2018-01-19 16:51] #37 closed, assigned to owainlewis

[2018-01-22 09:34] owainlewis opened #49 "(Spike) Explore Aggregated API Server and contrast with CRD's"

[2018-01-30 10:58] jan-g opened #52 "Add prometheus support"
This is pretty easy to do as something k8s users opt into by running prometheus: tag the resulting mysql pods with the typical prometheus labels and run a sidecar that collects and exposes the stats.

(This sidecar will need some read-only creds to get to the database - presumably an account can be created for this that only accepts localhost connections.)

[2018-01-30 16:25] #52 closed, assigned to nobody

[2018-03-06 10:54] owainlewis opened #54 "Migrate to different logging library"
We currently use Glog for logging. This is deprecated and no longer actively supported. We should move to a more suitable logging library.

[2018-03-21 09:52] owainlewis opened #57 "Migrate release process to use Wercker pipeline."
Migrate the release process to use an automated wercker pipeline. See oci-volume-provisioner for reference implementation.

[2018-03-21 21:23] owainlewis opened #58 "E2E tests continue to run after they've failed"
Running E2E tests takes a fairly long time (~10 minutes). When a test fails the others continue even though the pipeline will never recover.

It would be more desirable to fail fast in the event of a test failure.

[2018-03-23 20:03] owainlewis commented on #57
Done.

[2018-03-23 20:03] #57 closed

[2018-03-23 20:04] #5 closed

[2018-03-23 20:04] #41 closed

[2018-03-23 20:04] #36 closed

[2018-03-26 12:52] mssch opened #60 ":q"

[2018-03-26 15:10] #60 closed

[2018-03-26 16:09] amitoj opened #61 "Error creating cluster using examples/cluster/cluster.yaml"
Hi,

Following instructions from the tutorial to create a simple MySQL cluster,

`kubectl apply -f cluster.yaml`

I get the following error message

Tried this on both minikube (v0.25.2) and Google GKE.

Thanks

[2018-03-27 08:02] templecloud commented on #61
It looks like the required MySQLOperator [custom resource definitions](https://github.com/oracle/mysql-operator/blob/master/mysql-operator/templates/01-resources.yaml) are not installed into your cluster, or, cannot be found.

How did you install the operator into your test clusters? Something might have gone wrong during that step, and, left your clusters missing these resources.

[2018-03-27 08:20] owainlewis opened #64 "Support GCP"
Running the operator on Google Cloud requires an additional auth library be imported. I had a fix but never merged it in.

[code]

[2018-03-27 09:11] owainlewis commented on #61
Hi @amitoj

I deployed to Google GKE using Helm and it appears to work OK for me. The error above suggests that the CRD's are not installed correctly. How did you install the operator?

For reference I did the following on a vanilla GKE cluster.

[code]

[2018-03-27 12:17] amitoj commented on #61
Thanks @owainlewis @templecloud
I think I may have deleted the helm chart.
I've successfuly created MySQL cluster now using the tutorial.

[2018-03-27 12:17] #61 closed

[2018-04-03 07:47] kirreen opened #65 "Creating clusters in other namespaces than default?"
When I try to create a cluster outside of the namespace default, I get the error "service account namespace/mysql-agent was not found", however the helm install only adds it to the default namespace. How do I create another serviceaccount like this one?

[2018-04-03 11:12] prydie commented on #65
Hi @kirreen,

This is a little clunky and poorly documented at the moment.

Perhaps the best approach would be for the operator to create the required service account and role binding on cluster creation (thoughts @owainlewis?).

Prior to that being implemented you can set a custom namespace when installing via helm using `--set operator.namespace=my-namespace`. That will install the operator into

[2018-04-03 11:30] kirreen commented on #65
Thanks, creating the serviceaccount and rolebinding in each new namespace is closer to what I wanted for my use case.

[2018-04-04 07:45] kirreen opened #66 "How to configure readiness probes?"
Hi!

Could I have some hints on how to change the readiness probes? Right now they seem to be a bout 5 minutes long, and since the first failes, it takes about 5 minutes until the next probe starts going up.

[2018-04-04 12:01] prydie commented on #66
Hi @kirreen,

The readiness probes are not currently configurable, however, they shouldn't be failing nor should they be taking 5 minutes.

Would you mind providing the yaml you are using to create the `MySQLCluster` and logs from the `mysql-agent` container of the first Pod in the `MySQLCluster` so I can investigate further?

[2018-04-04 12:04] prydie commented on #54
My suggestion would be to use https://github.com/uber-go/zap

[2018-04-04 13:02] kirreen commented on #66
The error I get is "Readiness probe failed: HTTP probe failed with statuscode: 503" and it stays for about 5 min with an empty db when creating more pods.

mysqlcluster.yaml:
`
apiVersion: mysql.oracle.com/v1
kind: MySQLCluster
metadata:
  name: %APPNAME%-mysql
spec:
  multiMaster: true
  replicas: 7
  volumeClaimTemplate:
    metadata:
      name: data
    spec:
      storageClassName: nfs

[2018-04-05 08:33] prydie commented on #66
Would you mind also posting the logs from the mysql container? It seems that it's waiting for the mysql container to start for 5 minutes which isn't something I've encountered before.

[2018-04-05 09:26] kirreen commented on #66
Just this?

`
++ grep '^search' /etc/resolv.conf
+ search='search erik.svc.cluster.local svc.cluster.local cluster.local rancher.internal'
+ echo 'search erik.svc.cluster.local svc.cluster.local cluster.local rancher.internal erik-nginx-mysql.erik.svc.cluster.local'
++ cat /etc/hostname
++ grep -o '[^-]*$'
+ index=0
++ expr 1000 + 0
+ /entrypoint.sh --server_id=1000 --user=mysql --datadir=/var/lib

[2018-04-06 09:34] kirreen commented on #66
It's the same for 2 or 3. Also, it stops at 9 (3 per node)

On Fri, 6 Apr 2018, 11:22 Owain Lewis, <notifications@github.com> wrote:

[2018-04-06 09:54] prydie commented on #66
@kirreen Would you mind trying to deploy a cluster without the `volumeClaimTemplate` (the operator will use a [emptyDir](https://kubernetes.io/docs/concepts/storage/volumes/#emptydir))? I'm wondering if its the nfs volume claim that is slowing things down.

[2018-04-06 11:01] kirreen commented on #66
I'll try. The volumes becomes bound and the container fully functional a
long time before kubernetes recognizes that there aren't any more errors in
the pod.

On Fri, 6 Apr 2018, 11:54 Andrew Pryde, <notifications@github.com> wrote:

[2018-04-06 14:46] gites opened #68 "How to change server_id?"
Hi,

is there any way to change the (base) server id that is specified here https://github.com/oracle/mysql-operator/blob/master/pkg/resources/statefulsets/statefulset.go#L164

Depending on the cluster I would like to have different server ids (ex.: 100, 101, 102 for the first cluster, 200,201, 202 for the second one).

[2018-04-09 09:52] owainlewis commented on #68
Hi @gites there is currently no way to control this currently as the command line arguments in statefuset.go take precedence over any configuration settings.

If you feel this is a feature you need, please feel free to raise a feature request issue with some more information about how you'd like it to work.

Thanks.

[2018-04-09 15:21] gites opened #69 "Allow to set custom server_id base for clusters"
## FEATURE REQUEST?

**Description:**
Please add an option to MySQLCluster spec definition that will allow changing default "base" server id. Currently, all cluster will have the same sets of servers ids (1000,1001,1002...) as the base value is hardcoded here: https://github.com/oracle/mysql-operator/blob/master/pkg/resources/statefulsets/statefulset.go#L164
This option would allow setting differe

[2018-04-09 15:48] gites opened #70 "Can't set MySQL root password via secret"
## BUG REPORT

## Versions

**MySQL Operator Version**: `0.1.0`

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: `Bare metal`
- **OS** (e.g. from /etc/os-release): `Ubuntu 14.04 LTS`
- **Kernel** (e.g. `uname -a`): ` 4.13.0-36-generic #40-Ubuntu SMP Fri Feb 16 20:07:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

- **Others**:

[2018-04-09 15:51] ocastle opened #71 "Unable to mount data volume to multi-master replica based on example"
BUG REPORT

## Versions

**MySQL Operator Version**:
0.1.0

**Environment**:
- **Kubernetes version** (use `kubectl version`):
    Client: 1.9.2
    Server: 1.7.5
- **Cloud provider or hardware configuration**:
Azure
- **OS** (e.g. from /etc/os-release):
    Ubuntu 16.04.2 LTS
Linux
- **Kernel** (e.g. `uname -a`):
    4.4.0-119-generic
- **Others**:
https://github.com/oracle/mysql-operator

## Wha

[2018-04-09 20:34] ocastle commented on #71
Part of the issue is that the directory path /tmp/data does not exist for the **mysql/mysql-servers:5.7.20-1.1.2** container used to create the statefulset. I know the database data is created/stored under **/var/lib/mysql**. Is the example path, just that an example path or is there a reason that was chosen for the example? Assuming there might be something done with that directory from the mysql

[2018-04-10 08:31] gites opened #72 "Fail to scale cluster after few days"
## BUG REPORT

## Versions

**MySQL Operator Version**: `0.1.0`

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: `Bare metal`
- **OS** (e.g. from /etc/os-release): `Ubuntu 14.04 LTS`
- **Kernel** (e.g. `uname -a`): ` 4.13.0-36-generic #40-Ubuntu SMP Fri Feb 16 20:07:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

- **Others**:

[2018-04-10 08:55] gites commented on #71
@ocastle the ` /tmp/data` directory needs to exist on all k8s nodes that will have MySQL PODs running. If it doesn't exist you need to create it manually. You can also choose to use different directory that already exists (`/tmp` for example). This directory doesn't have anything common with cluster replication stuff - it's just a part of storage definition for a k8s cluster.

[2018-04-10 14:50] gites commented on #69
example implementaion: https://github.com/gites/mysql-operator/commit/a7ad2a73576451ba3772e6f261f4f2262e2e517e

also, there is a docker image `gites/mysql-operator:0.1.0.1` with a binary build.

[2018-04-10 15:10] gites commented on #66
I'm also seeing `Readiness probe failed: HTTP probe failed with statuscode: 503` on my test deployment. Events for each of the cluster pod looks like this:
[code]

I'm using volume from Ceph, but they are created pretty fast.

Running readiness probe inside mysql-agent container also returns 200.

[2018-04-10 15:49] prydie commented on #72
Hi @gites,

Is it at all possible that you might have inadventently deleted the root password secret (in this instance `ops/mysql-cluster2-root-password`)?

My reading of the code (linked below) is that it will only re-create the root password Secret if kubernetes reports it as being absent.

https://github.com/oracle/mysql-operator/blob/0611048609048269882049b217a2f39036a4902b/pkg/controllers/clu

[2018-04-10 15:55] prydie commented on #71
Thanks @gites.

Closing for now. If you have any further problems @ocastle do let us know.

[2018-04-10 15:55] #71 closed

[2018-04-10 16:26] owainlewis commented on #70
Thanks for raising this @gites I'll look into it.

[2018-04-10 19:43] gites commented on #70
@owainlewis I found the reason why this is failing.
[code]

My base64 encoded secret contains newline character at the end and this is causing the `mysqlsh` command to be split into two lines. Rookie mistake :)

[2018-04-11 13:07] gites commented on #72
Hi,

thanks for picking this up.

It is possible that I mess too much with that cluster and deleted the secret, unfortunately, I also deleted the original `mysql-cluster2` so I can't check it. Please give me few days, I will try to reproduce the issue and will let you know my findings.

[2018-04-11 13:32] owainlewis commented on #70
@gites Thanks. That did come up in discussion but we hadn't got round to investigating. Will close.

[2018-04-11 13:32] #70 closed

[2018-04-11 13:37] ocastle commented on #71
I understand why the ticket is closed, but I do have a question that follows this thread. Based on the example, I assumed that it had some weight in terms of creating a data volume to hold your data to allow a starting point if a pod were to crash. While at the same time ensuring that there is always something present if for some reason all replicas were to crash and lose the ability to replicate

[2018-04-11 15:35] prydie commented on #70
@owainlewis Would it not be worth perhaps worth adding some validation around this? Seems quite a simple mistake to make and the error is less than clear.

[2018-04-12 06:17] 13567436138 opened #74 "always pending"
[code]

[2018-04-12 09:03] prydie opened #75 "Limit MySQLCluster replicas to 9"
https://dev.mysql.com/doc/refman/5.7/en/group-replication-frequently-asked-questions.html

[2018-04-12 11:37] prydie commented on #71
Hi @ocastle,

The the `volumeClaimTemplate` (if provided) is used to create a separate [persistant volume claim](https://kubernetes.io/docs/concepts/storage/persistent-volumes/) for each member of the MySQLCluster which the MySQL container uses as its data directory. You can change the volume type to match your storage solution in your Kubernetes environment.

Using a [hostPath volume](https://kub

[2018-04-12 12:47] owainlewis opened #76 "Add changelog"
Add a change log to the project.

[2018-04-12 13:29] owainlewis opened #79 "Simplify deployment. Do we really need Helm?"
Most operators can be installed without Helm. Should we revert to simple YAML deployments?

[2018-04-12 14:53] bweston92 commented on #79
Kubernetes config can sometimes be overwhelming, also when you spread stuff across files (not that there is too many right now) it is more vulnerable to typos and other mistakes.

Having a single `values.yml` file makes it much less error prone imo.

[2018-04-12 15:11] owainlewis opened #80 "Rethink cluster args (do we need all of them)"
The MySQL Operator initialises with the cluster args defined here. https://github.com/oracle/mysql-operator/blob/master/pkg/resources/statefulsets/statefulset.go#L163

These were based on some recommendation and examples but in retrospect some of these appear invalid and we should aim to remove as many as possible since the args here will take precedence over anything defined by a user in configur

[2018-04-12 15:43] ocastle commented on #71
Thanks @prydie for the explanation of how that code functions. I wasn't wrapping my head around it when I was looking over it. I do see the data volume populating within my `/tmp` directory of the k8's node. My objective was to use something like an `azurefile` or `azuredisk` that is tied to the pod and could follow if it were scheduled/moved to another node.

[2018-04-13 05:24] 13567436138 commented on #74
solved ,the storage problem

[2018-04-13 05:24] #74 closed

[2018-04-13 15:22] #11 closed, assigned to owainlewis

[2018-04-13 15:29] prydie opened #82 "Implement support for Pod Security Policies (PSPs)"
https://kubernetes.io/docs/concepts/policy/pod-security-policy/

Example: https://github.com/coreos/etcd-operator/blob/master/doc/user/spec_examples.md#custom-pod-security-context

[2018-04-16 13:30] kirreen commented on #66
@prydie When I don't use a volumeClaimTemplate I still get the same 503 issue.

[2018-04-16 14:52] prydie commented on #66
Hi @kirreen,

We've merged a fix to output the MySQL error log to stderr so it's picked up by `kubectl logs`. Would you mind running the following to deploy the operator from master:

[code]

And then if you could share the logs from the mysql container(s) that would be great. You'll need to create a new MySQLCluster I'm afraid as this change won't currently be propgated to existing clusters.

[2018-04-17 06:42] #69 closed

[2018-04-17 07:08] gites commented on #72
Hi,
I can scale the cluster, so probably the deleted secret was the problem here.

I also notice one more thing. I can scale the cluster only by changing replica filed in the manifest. When I try to scale using CLI I'm getting the following error:
[code]
but get clusters seems to work ok:
[code]
[code]

Should this behave this way?

[2018-04-17 08:11] kirreen commented on #66
Mysql:
`2018-04-17T08:02:38.411345Z 59 [Note] Aborted connection 59 to db: 'unconnected' user: 'root' host: '10.42.104.132' (Got an error reading communication packets)
2018-04-17T08:02:48.396531Z 61 [Note] Aborted connection 61 to db: 'unconnected' user: 'root' host: '10.42.104.132' (Got an error reading communication packets)
2018-04-17T08:02:50.056719Z 64 [Note] Aborted connection 64 to db: 'un

[2018-04-17 08:31] kirreen commented on #66
mysql-agent (0) post-update (forgot git fetch...):
`I0417 08:17:14.502933       1 cluster_manager.go:137] MySQL instance is online
I0417 08:17:29.658426       1 cluster_manager.go:137] MySQL instance is online
I0417 08:17:44.822046       1 cluster_manager.go:137] MySQL instance is online
I0417 08:18:00.045118       1 cluster_manager.go:137] MySQL instance is online
I0417 08:18:15.204114       1 cl

[2018-04-17 08:32] prydie commented on #66
Thanks for those @kirreen. Would you mind posting the complete mysql container logs (perhaps via a [Gist](https://gist.github.com/))? The above logs don't include the logs from the initial container startup.

[2018-04-17 08:40] kirreen commented on #66
@prydie the logs are being kinda weird but here they are:
https://gist.github.com/kirreen/6e7582a59f8ef0f3fc0f0ea371c43980
https://gist.github.com/kirreen/d8ca625a2d2eaf0778b5ef04307aaed4
https://gist.github.com/kirreen/26d9954d16c01708c21ead2f8994ecb1
https://gist.github.com/kirreen/5b5e8f41caf8b38c10652639a8bb32b6
https://gist.github.com/kirreen/25ffbadebb270224aa51875ff7675fb4

[2018-04-17 08:50] kirreen commented on #66
Right now the 2nd pod never finishes, so it stays at one complete and one "red" pod.

[2018-04-17 09:53] prydie commented on #66
@kristenjacobs / @neumayer Would you mind taking a look if you've got a sec?

[2018-04-17 13:30] prydie commented on #72
Hi @gites,

`kubectl scale` uses the `/scale` sub-resource to scale resources which prior to https://github.com/kubernetes/kubernetes/pull/55168 wasn't supported for custom resources defined using CustomResourceDefinitions.

As far as I understand it supporting `kubectl scale` in the MySQL Operator is now possible in Kubernetes 1.10+ but there are some changes we need to make to support it. This i

[2018-04-17 13:42] prydie commented on #66
@neumayer Just to clarify; do you mean the [readiness check](https://github.com/oracle/mysql-operator/blob/master/pkg/cluster/cluster_health.go#L30) itself is failing? That should be connecting over the loopback interface within the container so I can't see why there would be a networking issue there.

[2018-04-17 13:54] neumayer commented on #66
Maybe I misunderstood, were the dropped connections not originating from the readiness check itself? With networking issues I also mean some possible race conditions there, i.e. mysql stopping and restarting and the readiness probes going wild because of it.

But yeah, I admit, it's mostly guessing on my end here... :-)

[2018-04-17 13:55] kirreen commented on #66
Now it doesn't seem like it's able to function like a cluster at all on my
system.

On Tue, 17 Apr 2018, 15:54 Robert Neumayer, <notifications@github.com>
wrote:

[2018-04-17 15:37] gites commented on #72
Thanks for explaining @prydie :+1:

[2018-04-17 15:37] #72 closed

[2018-04-18 13:48] gites opened #83 "mysql-agent can't recreate MySQL Cluster after full k8s cluster restart"
## BUG REPORT

## Versions

**MySQL Operator Version**: `0.1.0`

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: `minikube`
- **OS** (e.g. from /etc/os-release): `Buildroot 2017.11`
- **Kernel** (e.g. `uname -a`): ` Linux minikube 4.9.64 #1 SMP Fri Mar 30 21:27:22 UTC 2018 x86_64 GNU/Linux`

- **Others**:

## What happened?

[2018-04-18 15:46] simplysoft opened #84 "resolv.conf fiddling fails for custom cluster dns names"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**: `0.1.0`

**Environment**:
- **Kubernetes version** (use `kubectl version`):
`
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.5", GitCommit:"f01a2bf98249a4db383560443a59bed0c13575df", GitTreeState:"clean", BuildDate:"2018-03-19T15:50:45Z", GoVersion:"go1.9.3", Compiler:"gc", Platfo

[2018-04-18 16:38] prydie commented on #84
Thanks for the bug report @simplysoft.

@kristenjacobs / @garthy If I recall correctly this works around a limit on the hostname in mysql-server of ~64 characters doesn't it?

I think the best approach would be to address cluster members by `${cluster_name}-${statefulset_ordinal}.${cluster_name}.${cluster_namespace}` and add validation to MySQLCluster to check that this is below the limit on clust

[2018-04-18 16:41] jhorwit2 commented on #84
https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-network-id

This is a stateful set feature and what other operators do as well like ETCD. Because the default resolv includes a bunch of search domains you could even get away w/o the namespace but that'd require anything using the hostname to be in the same namespace.

[2018-04-18 16:56] prydie commented on #84
@jhorwit2 Awesome. I don't think thats a problem as I believe its only for member-member communication which due to the StatefulSet will always be in the same namespace.

[2018-04-19 10:05] kristenjacobs commented on #84
The character limit on hostnames, while being an issue, wasn't the only reason that we fiddle with the resolv.conf. From what I remember, even if the fully qualified name was used everywhere in the MySQL configuration, MySQL was still internally only using the hostname part, thus unless this was resolvable, the cluster would not form. This, along with the fact that just using the hostname meant th

[2018-04-19 10:19] owainlewis opened #85 "Migrate E2E test infrastructure to Ginkgo"
In order to maintain our tests longer term we should migrate towards Ginko. This will be more consistent with other projects we maintain and result in simplified tests that are easier to read and maintain.

[2018-04-19 10:45] kirreen opened #86 "How to label pods?"
FEATURE REQUEST (?)

How can I label the mysql-pods? Is it possible to achieve from the mysqlcluster-resource?

[2018-04-20 15:33] prydie commented on #86
Hi @gites, currently we apply a couple of labels in the operator but don't expose a mechanism for setting custom labels via the MySQLCluster custom resource. Would you mind expanding on your use case and we can see about implementing?

[2018-04-24 16:02] prydie commented on #65
Hi @raffaelespazzoli,

Agree wholeheartedly and certainly very high up on the priority list. What we've got currently RBAC/SA wise is just a first pass at getting something working and certainly needs to be tied down for a production deployment.

The mysql-agent doesn't need the same privialages as the mysql-operator. We'll need to add a separate ClusterRole. We've discussed creating the SA on clu

[2018-04-26 17:32] paolomainardi commented on #83
We are facing the same issue, @gites did you find something useful ?

[2018-04-26 17:44] prydie commented on #83
Hi @paolomainardi,

I’m ironing out the last few issues with the upgrade of the operator to MySQL 8 which will fix the issue (see #87 for details). In the meantime you may be able to rectify the situation on your existing cluster by `kubectl exec`’ing into the `mysql-agent`container of the/a primary and using `mysqlsh`.

[2018-04-27 09:48] marcogiacomassi commented on #86
It would be nice to have custom labels, for example, to define pod affinity or antiaffinity.

[2018-04-27 11:06] WTwilight opened #88 "Create a cluster with a persistent volume failed"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**:git commit ID:f3b89a4a8fb01a2c8aa13a67a4c7735861fb7dab

**Environment**:
- **Kubernetes version** (use `kubectl version`):v1.9.5
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):CentOS Linux release 7.2.1511 (Core)
- **Kernel** (e.g. `uname -a`):3.10.0-327.el7.x86_64

[2018-04-27 13:36] prydie commented on #88
Hi @WTwilight, can you do an `ls -ld` on `/tmp/data1` on each node, please?

[2018-04-27 15:07] prydie commented on #86
Hi @marcogiacomassi, MySQLCluster has an [affinity](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#affinity-v1-core) field for this purpose: `.spec.affinity`. Its not documented anywhere though which we should fix.

[2018-04-27 15:12] kirreen commented on #86
No, my use case is a NetworkPolicy.

On Fri, 27 Apr 2018, 17:07 Andrew Pryde, <notifications@github.com> wrote:

[2018-04-27 15:50] prydie commented on #86
@kirreen Ah right. We should add a `.spec.podLabels` to MySQLCluster that we propagate down to the StatefulSet's Pod template.

[2018-04-28 09:42] WTwilight commented on #88
When I create the directory “/tmp/data1” in the container which kubelet was run inside, the problem is solved.

[2018-04-28 09:42] #88 closed

[2018-04-30 10:07] owainlewis opened #89 "MySQL Group Replication Secure Socket Layer Support (SSL)"
The MySQL Operator does not currently support SSL by default for Group Repliation.

We should document how to configure SSL for Group Replication and (potentially?) implement it by default using self signed certs.

Reference

* https://dev.mysql.com/doc/refman/8.0/en/group-replication-secure-socket-layer-support-ssl.html

[2018-04-30 12:11] prydie commented on #89
Care will need to be taken around certificate lifecycle management (i.e. test what happens when certs are rotated).

[2018-04-30 12:22] prydie opened #90 "Leader election"
## FEATURE REQUEST

Implement (config map) leader election so that only one instance of the MySQL operator is running at once. Will need a little bit of thinking re support for global vs namespace mode.

[2018-04-30 13:41] #84 closed

[2018-05-01 15:30] bweston92 opened #92 "Init scripts"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## What?

When I create a database cluster specify a volume which holds init scripts which are then run against the server.

A bit like: https://github.com/docker-library/mysql/blob/2e4f2224f31e101d07c1e6a7c0da8245fde725c9/8.0/docker-entrypoint.sh#L178

[2018-05-02 08:12] WTwilight commented on #88
Hi @prydie ，
My k8s environment is deployed on bare metal via docker container (Deployed via rancher2.0)

Why kubelet find the path inside its container, not on the host file system ?
When I use the same volume configuration to deploy ordinary mysql(No use mysql-operator ), kubelet will use the host file system.

I hope you can provide some help, thank you ！

[2018-05-02 14:51] owainlewis opened #93 "Use better volume examples"
Currently the examples used for volumes use a hostpath volume. This has, from experience, led to some confusion since it generally won't work without modification of the example. We would be better off using a different example for volumes.

[2018-05-03 01:09] drobinson123 commented on #89
Rather than using self-signed certificates you may be able to use kubernetes to manage the certificates:

https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/

[2018-05-04 11:07] tboerger commented on #92
I think it's more common to use config maps for that

[2018-05-04 11:39] owainlewis commented on #92
I think for simplicity we'd like to avoid going down this route. What kind of init scripts were you thinking of running? User creation and database setup is something we've discussed but decided it was probably beyond the scope of this operator and can be achieved in other ways.

[2018-05-05 09:42] juexun commented on #66
@kirreen , I got similar error as yours in my cluster. Have you solve your problem?

`2018-05-05T09:06:35.806719Z 6 [Note] Aborted connection 6 to db: 'unconnected' user: 'root' host: '10.233.1.41' (Got an error reading communication packets)
2018-05-05T09:06:35.856327Z 8 [Note] Aborted connection 8 to db: 'unconnected' user: 'root' host: '10.233.1.41' (Got an error reading communication packets)

[2018-05-08 08:52] gites commented on #83
@prydie I did a test build from commit a0d35f43faf3c31120fd43fa7b3fd12b020aca22 and cluster is still failing after restrat, but now due to bad SSL settings.
The first pod is able to initialize cluster, but on the second one I see errors like this:
[code]

Attaching logs from pods below:

[agent0.log](https://github.com/oracle/mysql-operator/files/1983078/agent0.log)
[agent1.log](https://github.com

[2018-05-08 08:54] gites commented on #89
I would be awesome to have this integrated with HashiCorp Vault PKI, as one of the available options. https://www.vaultproject.io/api/secret/pki/index.html

[2018-05-08 08:58] gites commented on #80
Only minimal set os args required for seting up group replication should be used here.

[2018-05-08 09:07] prydie commented on #83
Hey @gites, yeah, we decided to merge the MySQL 8 change with that still outstanding as complete disaster recovery was already broken. I'm taking a look at it today. I'll update here once I've got something working 🙂.

[2018-05-08 09:09] prydie commented on #89
I'd suggest we add a TLS secret to the MySQLCluster spec which could be populated by a wide variety of PKI mechanisms.

[2018-05-08 09:36] gites commented on #65
@prydie allowing the operator to create SA is not a good idea. IMHO, the best approach here is for SA (for agent and cluster) to be created by k8s admin and specified in `spec.serviceAccount` in  `MySQLCluster` resource. Creating SA and binding it to a role is a super simple operation so the UX experience will not be impacted too much by this. At the same time this aproach, it is very elastic from

[2018-05-08 11:45] raffaelespazzoli commented on #65
@prydie @gites I think the `mysql-operator` role should be a `ClusterRole` so that it can operate on all the namespaces.
With regard to the `mysql-agent` role, can you make an example of why so many permissions are needed?
The general expectations from the opetrator pattern is that the created pods will be able to run with the default service account, which means with basically no permissions agai

[2018-05-08 16:32] garthy commented on #83
FYI: https://bugs.mysql.com/bug.php?id=90793

[2018-05-09 12:00] bweston92 opened #96 "Wrecker is private"
Any reason we cannot see test logs?

[2018-05-09 12:07] owainlewis opened #97 "Make CI builds public"
We should push to make our CI build output public so that external users can diagnose build failures more easily.

In order to do this we would need to ensure build output logs are free from any leaked credentials.

[2018-05-09 12:09] owainlewis commented on #96
Hi @bweston92

Historically our CI builds were private for security reasons to prevent credentials leaking (for example docker secrets and kubernetes configuration).

I've raised an issue (See #97)  to track and we will discuss this internally.

[2018-05-09 12:09] #96 closed

[2018-05-09 13:48] owainlewis commented on #75
Closing. This appears to be merged already.

[2018-05-09 13:48] #75 closed

[2018-05-14 08:39] lindao99 opened #101 "How can I connect MySQL cluster outside kubernetes cluster?"
how can I connect MySQL cluster outside kubernetes cluster？
I want connect MySQL by some tools like HeidiSQL.

[2018-05-14 10:24] owainlewis opened #102 "Slow startup time of clusters post migration to MySQL 8"
Cluster bring up is currently slower than we would like.

1. Error logs on group replication

[2018-05-14 10:40] bweston92 commented on #101
@lindao99 Kubernetes CLI tool can do port forwarding.

Term 1:
[code]

Term 2:
[code]

[2018-05-17 16:02] #85 closed

[2018-05-17 16:27] #83 closed

[2018-05-18 10:47] bweston92 commented on #93
Can we have an example for GKE too, just upgraded a node pool and lost everything as I didn't realise it was using host path aha

[2018-05-18 12:44] owainlewis commented on #93
@bweston92 yes we'll update the examples to work on any K8s cluster. That would make it easier for users looking to get started quickly.

[2018-05-21 05:20] kiranmudemela opened #105 ""Error: failed to download "mysql-operator"""
Trying to install mysql-operator and it gives the following error

bash-3.2$ helm init
$HELM_HOME has been configured at /Users/kiran/.helm.
Warning: Tiller is already installed in the cluster.
(Use --client-only to suppress this message, or --upgrade to upgrade Tiller to the current version.)
Happy Helming!
bash-3.2$ helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868

[2018-05-21 07:00] prydie commented on #105
Hi @kiranmudemela, it looks like you perhaps haven’t got the MySQL operator Git repo checked out locally. Could that be the case?

[2018-05-21 14:53] owainlewis opened #106 "Stateful sets stable in 1.9 (v1beta1.StatefulSet)"
We use `v1beta1.StatefulSet` but stateful sets are stable in K8s 1.9. We should probably update our code to reflect this when appropriate.

https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

[2018-05-21 15:17] MadalinaPatrichi commented on #82
Isn't this handled automatically via the use of Stateful Sets?

[2018-05-22 10:08] owainlewis commented on #92
Closing as we don't plan of adding this feature currently.

[2018-05-22 10:08] #92 closed

[2018-05-22 10:09] owainlewis opened #108 "Fix RBAC"
The current RBAC roles are wildly permissive and need to be locked down and scoped appropriately for the operator.

[2018-05-22 10:40] owainlewis opened #109 "Support MySQL Enterprise Edition"
Add support for using MySQL Enterprise Edition in addition to the open source MySQL Docker image.

https://www.mysql.com/products/enterprise/
https://store.docker.com/images/mysql-enterprise-server

[2018-05-22 10:41] owainlewis opened #110 "Add support for MySQL Enterprise Backup"
Add in support for MySQL Enterprise Backup. See

https://www.mysql.com/products/enterprise/backup.html

[2018-05-23 17:28] #105 closed

[2018-05-23 17:41] kiranmudemela opened #114 "mysql-operator ready for PROD?"
checking if mysql-operator is ready for Production ?

---Resources shows as v1beta1
RESOURCES:
==> v1beta1/
--------

bash-3.2$ helm install --name my-release mysql-operator --set rbac.enabled=true
NAME:   my-release
LAST DEPLOYED: Wed May 23 10:36:52 2018
NAMESPACE: default
STATUS: DEPLOYED

RESOURCES:
==> v1beta1/CustomResourceDefinition
NAME                                   AGE
mysqlclusters.m

[2018-05-24 11:15] prydie commented on #114
Hi @kiranmudemela,

Everyone's constraints around production readiness are of course different but I'd generally say not quite. The operator is in alpha and under active development. We'll shortly be releasing a breaking change in 0.2 to upgrade to MySQL 8.

[2018-05-24 11:15] #114 closed

[2018-05-24 11:18] prydie commented on #58
Resolved by #104

[2018-05-24 11:18] #58 closed

[2018-05-25 07:30] bweston92 commented on #101
This can be closed?

[2018-05-25 07:51] #101 closed

[2018-05-30 09:41] #80 closed

[2018-05-30 11:21] #89 closed

[2018-05-31 15:51] jiribroulik opened #117 "Define version of mysqlServer image"
Hey guys,

can you tell me how I can specify specific version of mysql image? Specifying a version under spec of mysqlcluster throws an error within mysql-operator.

[2018-05-31 15:56] prydie commented on #117
Hi @jiribroulik,

I'm afraid v0.1 only supports MySQL 5.7.20-1.1.2 and v0.2 (which will be out shortly) will only support MySQL 8.0.11+. What version are you trying to use?

[2018-05-31 16:10] jiribroulik commented on #117
5.7.22-1.1.5
about support. you think it will not work with this version I want? Or how could I make it work with this version? Thank you

[2018-05-31 16:32] prydie commented on #117
For the initial release, we limited the supported version to the MySQL version we'd done our testing on. It should work, however, unfortunately, the operator will reject the version currently as you've found.

@owainlewis What do you think of creating a `release-0.1` branch based on the v0.1 tag and then using it to release a v0.1.1 with relaxed 5.7.x version constraints?

[2018-06-01 10:41] owainlewis opened #119 "API Refinement ahead of 0.2.0"
As we are moving to a 0.2.0 release it would be wise to group any potentially breaking changes to the API into the upcoming release so as to minimise any breaking changes going forward.

Considerations for improvements are

1. Renaming the ClusterRef and BackupRef fields to be simply Cluster and Backup
2. Downgrading API version from v1 to v1alpha1 [#122]

[2018-06-01 10:49] owainlewis opened #120 "Release a 0.1.1 release which relaxes restrictions for 5.7 clusters"
We enforce some very specific version requirements on the 0.1.0 release but this might cause issues for anyone wanting to stick on the 5.7 release branch (i.e if they need to update for a security patch etc).

Remove the validation in https://github.com/oracle/mysql-operator/blob/0.1.0/pkg/apis/mysql/v1/validate_cluster.go#L42 to allow users to upgrade to newer release image versions of MySQL 5.7.

[2018-06-01 11:13] prydie commented on #117
Hi @jiribroulik, we're going to release a version which supports 5.7.22.-1.1.5. You can track progress at #120.

[2018-06-01 11:13] #117 closed

[2018-06-01 12:47] jiribroulik commented on #117
@prydie thank you.

[2018-06-01 13:28] harveylowndes commented on #79
Addressed and documented in #118

[2018-06-05 11:09] prydie commented on #108
Resolved by #121

[2018-06-05 11:09] #108 closed

[2018-06-05 11:11] prydie commented on #49
Closing for now as many of the features that make aggregated API servers compelling are being steadily implemented for CRDs.

[2018-06-05 11:11] #49 closed

[2018-06-05 11:13] prydie commented on #66
This was resolved (in master will be release in v0.2.0) by caching the InnoDB cluster status in the ClusterManger and using that value in the health check.

[2018-06-05 11:13] #66 closed

[2018-06-05 11:15] prydie commented on #79
We're currently going to stick with Helm, however, will maintain independent manifests for dev setup.

[2018-06-05 11:15] #79 closed

[2018-06-05 11:16] prydie commented on #65
Documented here now: https://github.com/oracle/mysql-operator/blob/master/docs/tutorial.md#create-a-simple-mysql-cluster

[2018-06-05 11:16] #65 closed

[2018-06-05 16:11] jiribroulik commented on #120
Hello @owainlewis
Do you have any ETA on this please? Thank you

[2018-06-06 16:28] devdattakulkarni opened #124 "Question about Percona support"
This is more of a question rather than a feature request or a bug report.

In our use-case we are interested in using this operator with Percona Docker image. I was wondering if the operator will work as it is with Percona? If not, what all changes would be needed?

Thanks for your help.

[2018-06-07 12:46] prydie commented on #82
@MadalinaPatrichi It is handled in the StatefulSet via [`.spec.template`](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/types.go#L122). The StatefulSet is an implementation detail that we don't expect users to manipulate directly, however. We just need to add a field to our Cluster resource and then pass that down to the StatefulSet.

[2018-06-08 12:57] prydie opened #125 "CRD OpenAPI v3 validation"
From Kubernetes v1.9 validation of custom objects is enabled by default via defining [OpenAPI v3](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#schemaObject) schema.

We should define schema for all our CRDs.

See: https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#validation

[2018-06-08 15:06] simonlord commented on #120
@jiribroulik i've just released as 0.1.1: https://github.com/oracle/mysql-operator/releases/tag/0.1.1

Here's an example of specifying the version: https://github.com/oracle/mysql-operator/blob/0.1.1/examples/cluster/cluster-with-custom-version.yaml

[2018-06-08 15:06] #120 closed

[2018-06-12 18:23] ankurshah7 opened #134 "Need help troubleshooting"
I am following tutorial and need assistance troubleshooting.
I have minikube v0.27.0, kubectl server v1.10.0 client v1.10.4.
I cloned mysql-opeartor  ( master )
I created mysqlcluster myappdb but cannot get mysql password secret.

[code]
Thanks,

[2018-06-12 18:48] cisco- commented on #134
It seems there's an inconsistency between the operator and the resource definitions in the master branch. From what I can gather, the helm chart deploys version 0.1.0 of the operator which tries to listen for changes to the resources in version "v1", but the CRDs are in version v1alpha1, so the operator can't list them.
Have a look at the log output of the operator pod. If it complains that it can

[2018-06-12 19:22] ankurshah7 commented on #134
I followed @cisco- but did not 'Fix' - I think v1alpah1 is spread to  *.go files. I see following in mysql-operator logs.

[code]

[2018-06-13 08:32] prydie opened #135 "Helm chart broken (v1 vs v1alpha1 and RBAC)"
Currently, we don't version the mysql-operator helm chart so the chart from master is used to install the operator independent of the version of the operator being installed. The change of API version to v1alpha1 means that the helm chart on master is incompatible with the latest release (and will be for all 0.1.x).

We should dispatch on the version in the CRD template and if it matches 0.1.x use

[2018-06-13 08:42] prydie commented on #134
Hi @ankurshah7 and thanks @cisco-! I've opened https://github.com/oracle/mysql-operator/issues/135 which captures the root of the problem. We'll get an update out to the helm chart ASAP.

For now,  you should be able to fix the issue by editing the mysql-operator [Cluster]Role and granting it permissions to `['get', 'list', 'watch']` ConfigMaps.

[2018-06-13 08:42] #134 closed

[2018-06-13 09:21] owainlewis commented on #124
Hi @devdattakulkarni

We don't actively support Percona and so I can't comment on whether or not it would work (we've not yet tested anything other than the official MySQL image). We require InnoDB and [InnoDB cluster](https://dev.mysql.com/doc/refman/8.0/en/mysql-innodb-cluster-introduction.html). The most recent changes will be aimed at supporting MySQL 8.

We are certainly open to broadening th

[2018-06-13 09:23] #124 closed

[2018-06-13 10:45] prydie opened #136 "RBAC for Events missing"
Both the mysql-agent and mysql-operator [Cluster]Roles need permissions to manipulate Events.

[code]

[2018-06-13 10:53] prydie opened #137 "Support updating cluster MySQL version"
We currently don't support upgrading the MySQL version of an existing Cluster. Whilst upgrades from 5.7.x -> 8.x.x are likely out of scope for the operator we should definitely support upgrades between minor / patch versions.

I've started [a branch](https://github.com/oracle/mysql-operator/tree/mysql-upgrade) with a (currently failing) e2e test that covers the functionality. TDD FTW!

[2018-06-13 11:08] prydie commented on #106
Presumably, this would necessarily result in our dropping support for Kubernetes 1.8? That's not really an option in my view until 1.11 is released and even then we'll need to check that there are no internal 1.8 use-cases that we'd be breaking for little/no benefit.

[2018-06-13 11:10] cisco- commented on #134
FWIW I also had to add permissions for "events"

[2018-06-13 11:12] prydie commented on #134
Thanks, @cisco-. I picked up on that earlier and opened #136.

[2018-06-13 11:41] owainlewis commented on #106
@prydie yes it would require dropping support and agree it's a *very* minor internal issue. Going to leave this here as a tracking issue if nothing else.

[2018-06-13 11:57] #119 closed

[2018-06-13 12:58] simonlord commented on #135
Shouldn't we just upload the helm chart as assets of the release - and have users use that to install?

[2018-06-13 14:00] prydie commented on #135
Presuming you can install directly from a GH release then yes that would be a better solution (though we'd need to back publish).

[2018-06-13 16:26] pmccarthy opened #139 "operator pod unable to request custom resources"
## BUG REPORT

**MySQL Operator Version**: master branch

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
Running local Minishift VM (single node Openshift)
[code]

- **OS** (e.g. from /etc/os-release):
VM is running RHEL v7.4

- **Kernel** (e.g. `uname -a`):
[code]

## What happened?
I'm in the process of trying to get the

[2018-06-13 17:36] ankurshah7 commented on #134
I am K8s newbie - How to edit the mysql-operator [Cluster]Role and grant it permissions to ['get', 'list', 'watch'] ConfigMaps? Is it by editing templates/02-rbac.yaml ?

[2018-06-14 10:31] pmccarthy commented on #139
This also appears to be the case when running ```oc cluster up``` instead of using minishift. So rather than being minishift specific, it's most likely Openshift specific. Has this operator ever been successfully configured on Openshift?

[2018-06-14 11:39] pmccarthy commented on #139
Additional info around the created serviceaccount, cluster roles and bindings:

#### Operator Service Account
[code]

#### Operator Cluster Role
[code]

#### Operator Cluster role binding
[code]

[2018-06-14 11:45] prydie commented on #139
Hi @pmccarthy, unfortunately, we accidentally broke the helm chart implementing changes in preparation for the next release. We forgot to account for the fact that we don't version the chart at the moment and therefore the chart from master is used to install all versions of the operator. I'm working on patching this at the moment and should have a fix out by the end of the day.

[2018-06-14 11:59] pmccarthy commented on #139
Hi @prydie, thanks for the update. That sounds great, happy to validate the fix afterwards 👍

[2018-06-15 10:58] #135 closed

[2018-06-18 10:56] prydie commented on #139
Hi @pmccarthy, the latest helm chart on master should resolve this.

[2018-06-18 10:56] #139 closed

[2018-06-18 11:16] pmccarthy commented on #139
@prydie Confirming that this issue has been resolved. Thank you 👍

[2018-06-18 11:18] prydie opened #144 "Document 0.2 API changes"
There were numerous changes to the API made by #119 as well as the `v1` -> `v1alpha1` migration.

We need to provide clear documentation on the migration process between v0.1 and v0.2.

[2018-06-18 11:29] prydie opened #145 "Call dba.configureLocalInstance() for MySQL 5.7 support"
The v0.1.x release series was previously intended to be the only series to support MySQL 5.7 due to perceived incompatibilities in `mysqlsh`, however,  in actuality, `mysqlsh` is backwards compatible.

The only difference is that with MySQL 5.7 you must call `dba.configureLocalInstance()`, locally, on each member of the cluster after any topology change to ensure that the cluster configs are persi

[2018-06-18 14:46] prydie opened #147 "Backups should not be written to disk temporarily"
Currently, the `mysqldump` backup provider writes the backup to the local filesystem and then opens the file and returns that as the `io.Reader` for the object storage client.

https://github.com/oracle/mysql-operator/blob/2a251f7c0886a8302a63f59a34858047ea88127f/pkg/backup/executor/mysqldump/provider.go#L88-L108

We should upload directly to object storage without writing to disk.

[2018-06-18 19:07] ankurshah7 opened #150 "Tutorial-attempt-06-18-2018 err in setting mysql password secret"
I see that issue  [135](https://github.com/oracle/mysql-operator/issues/135) is fixed now. I followed tutorial again and have following to report.
1. YAML examples needed edit - change namespace to default and change CRD to MySQLCluster.
2. After creating 'myappdb' cluster, secret for 'myappdb-root-password' did not get created.

Here's log line from mysql-opeartor.

Studying 02-rbac.yaml - rules

[2018-06-19 00:58] gianlucaborello commented on #145
FYI, I have been having several difficulties using MySQL 5.7 with the current operator (I spoke too soon when I said it was working, as I didn't do proper failure testing), to the point where I'm likely going to switch to 8 moving forward, if I can. Some of the issues are:

1) Logic in `RebootClusterFromCompleteOutage()` triggers an error in 5.7, since the syntax `RESET PERSIST group_replication_b

[2018-06-19 09:58] prydie opened #151 "0.1.x mysql-operator SA needs RBAC to get Secrets"

[2018-06-19 10:00] prydie commented on #150
Hi @ankurshah7, thanks for the feedback!

You're running into two issues here. The first issue is that we're in the process of finishing up the next release that makes some major changes to the CRDs and downgrading the API group to v1alpha1 to better enable future iteration. Unfortunately, as our docs are here on Github it's very confusing at the moment. The documentation should be accurate on htt

[2018-06-19 10:00] #150 closed

[2018-06-20 12:34] #151 closed

[2018-06-20 14:00] devdattakulkarni opened #154 "Custom Resource Kind name incorrect in Documentation"
BUG REPORT

## Versions

**MySQL Operator Version**: Latest code from master (sha: 2a251f7c0886a8302a63f59a34858047ea88127f)

**Environment**:
- **Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2017-12-15T21:07:38Z", GoVersion:"go1.9.2", Com

[2018-06-22 12:40] cpanato commented on #154
PR here: https://github.com/oracle/mysql-operator/pull/156

[2018-06-22 19:59] benmathews commented on #61
I'm seeing this error myself. The crd are installed.

[code]

Any other debugging tips?

[2018-06-22 21:16] devdattakulkarni commented on #154
@cpanato I have added a comment on the PR.

[2018-06-26 09:11] cpanato opened #159 "Restore from S3 but the back was not generated by the operator"
Hello!

I have a question regarding restores.
How can I restore a DB using S3 or other supported storage but this backup was not generated by the operator. This is an existing backup that I would like to restore using the operator.

Is that possible?

thanks!

[2018-06-27 09:16] owainlewis commented on #159
Hi @cpanato that isn't something we explicitly support currently but it's a valid and interesting use case.

The obvious way to do this would be to create a new cluster and create a backup. Then in S3 replace the backup file with your existing backup and do a restore from that. It's not something we've tested though.

Hope that helps.

Thanks.

[2018-06-28 07:41] hashstone opened #160 "The second node can't be joined in the innodb-cluster (MySQL 8.0.11)"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**:
d9b3b4ff3e5c5f20e73e13631057e854ecec0608

**Environment**:
- **Kubernetes version** (use `kubectl version`):
<pre>
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:17:39Z", GoV

[2018-06-28 09:32] #159 closed

[2018-06-28 09:58] cpanato commented on #159
@owainlewis Thanks for the answer! I will try!

[2018-06-29 06:37] lindao99 opened #161 "How can I create a Mysql-cluster with kubernetes http API?"
How can I create a Mysql-cluster with kubernetes http API?
like this way:
[code]
Thanks!

[2018-06-29 09:13] cpanato opened #162 "Create user and database"
Is it possible to create a user/pass and the database when starting the Mysql?

I did not find in the docs either in the code. I think this will be a good feature.

thanks!

[2018-06-29 09:55] cpanato commented on #162
closing this.
dup: https://github.com/oracle/mysql-operator/issues/13

[2018-06-29 09:55] #162 closed

[2018-07-02 09:37] owainlewis commented on #161
Hi @lindao99 you should be able to create clusters in the same way you do any other custom resources. See the examples directory for examples.

[code]

[2018-07-02 09:37] #161 closed

[2018-07-03 02:37] CaptTofu commented on #105
HI Kiran (my son's name :) - what was the fix for you? I encountered this as well.

helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

[2018-07-03 10:21] owainlewis commented on #145
Closing this because we won't support for the 8.0 release.

[2018-07-03 10:21] #145 closed

[2018-07-03 10:44] owainlewis opened #163 "Validate the version of the mysql server image."
This task is to ensure we are validating the version of the mysql server image.

[2018-07-03 13:09] prydie opened #164 "Investigate using status sub-resource"
Kubernetes 1.11 supports [status sub-resources](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#status-subresource) on custom resources defined via CRDs. We should explore whether we can utilise this without breaking backwards compatibility.

[2018-07-03 13:12] prydie opened #165 "Implement scale subresource"
Kubernetes 1.11 introduces support for the [scale subresource](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#scale-subresource).

This allows us to support `kubectl scale` in the operator.

[2018-07-03 14:37] kiranmudemela commented on #105
Hi Patrick,
I remember i had downloaded it instead of helm.

Download the file  mysql operator Steps :
git clone https://github.com/oracle/mysql­operator
­­­­­­­­­­­­­­­­­­­­­­­­­­­­
bash­3.2$ pwd /Users/kiran/mysqlop/mysql­operator
bash­3.2$ bash­3.2$ helm install ­­name my­release mysql­operator ­­set
rbac.enabled=true
NAME:   my­release

LAST DEPLOYED: Wed May 23 10:36:52 2018
NAMESPACE: defaul

[2018-07-04 03:15] CaptTofu commented on #61
Hi all- I'm encountering this error and have followed the tutorial verbatim:

---

{code}
apiVersion: mysql.oracle.com/v1alpha1
kind: Cluster
metadata:
  name: test-app-db
  namespace: capttofu
{code}

Then:

{code}
kubectl apply -f cluster.yaml
error: unable to recognize "cluster.yaml": no matches for mysql.oracle.com/, Kind=Cluster
{code}

If I look at the logs for the operator pod it looks good

[2018-07-04 03:29] CaptTofu opened #166 "Error creating"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**MySQL Operator Version**:
iad.ocir.io/oracle/mysql-operator:0.1.1

**Environment**:
Oracle Cloud OKE

- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
Oracle
- **OS** (e.g. from /etc/os-release):
OCI
- **Kernel** (e.g. `uname -a`)

[2018-07-04 08:15] owainlewis commented on #166
Hi @CaptTofu

This is a temporary problem with our documentation as we prepare for a new MySQL 8 release. The CustomResourceDefinitions and (kind and apiVersion) were changed recently. Essentially the examples in the manifest directory are aimed at the master branch. For the 0.1.1 release, the following example should work:

[code]

[2018-07-04 08:15] #166 closed

[2018-07-04 10:56] owainlewis commented on #64
Closing this. Previously we had authentication errors but I am no longer able to recreate. I was able to create a cluster without issue on GKE.

[2018-07-04 10:56] #64 closed

[2018-07-04 13:50] CaptTofu commented on #166
thank you!

[2018-07-05 11:33] #163 closed

[2018-07-06 09:06] prydie opened #175 "Use non-root user for GR"
Instead of using the root user for GR we should create a group replication user.

See: https://dev.mysql.com/doc/refman/8.0/en/mysql-innodb-cluster-production-deployment.html#mysql-innodb-cluster-user-privileges

[2018-07-06 12:20] prydie commented on #154
Apologies for the confusion. This should be resolved now with the release of v0.2.0.

[2018-07-06 12:20] #154 closed

[2018-07-06 12:38] prydie opened #177 "Export logs in E2E tests"
Currently, we debug failed E2E tests by skipping deletion of the specific test namespace on failure thereby leaving the resources available for inspection. This will no longer apply to all users once third-party developers can trigger CI via pull requests.

We should delete namespaces even on failure and export the following logs as artefacts of the pipeline:

 - MySQL Operator container logs
 - A

[2018-07-09 11:05] harveylowndes commented on #177
Looking into this now. Just wondering if you can give a clarification on what is meant by
`All MySQL server instances
All mysql-agent instances`?

[2018-07-10 03:12] zqkou opened #181 "Cluster failed to start after config PV"
## Versions

**MySQL Operator Version**:
0.2.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.10.0
- **Cloud provider or hardware configuration**: Private cloud, 5 nodes, CPU 24 core, MEM 64G, DISK 350G for each node.
- **OS** (e.g. from /etc/os-release): Red Hat Enterprise Linux Server 7.5
- **Kernel** (e.g. `uname -a`): Linux 3.10.0-862.6.3.el7.x86_64
- **Others**:

## Wh

[2018-07-10 03:37] zqkou commented on #181
More information got:

I compared the group replication related global variables with or without PV configured, there are some different:

With PV:
group_replication_bootstrap_group: ON
group_replication_group_seeds: <EMPTY>

Without PV:
group_replication_bootstrap_group: OFF
group_replication_group_seeds: mysql-multiprimary-cluster-1.mysql-multiprimary-cluster:33061,mysql-multiprimary-cluster-2.m

[2018-07-11 21:00] prydie commented on #181
Hi @zqkou,

I believe the key log line is:

[code]

I notice you are running in multi-primary mode. There are [known limitations](https://dev.mysql.com/doc/refman/8.0/en/mysql-innodb-cluster-limitations.html) with this mode of operation. Would you mind trying in single primary mode and seeing if that works for you?

[2018-07-12 04:20] prydie commented on #177
@harveylowndes By that, I mean that we should export the logs of all containers in the test namespace(s) corresponding to failures  (see: `kubectl cluster-info dump --namespace` / https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/clusterinfo_dump.go)

[2018-07-12 04:31] prydie commented on #160
Hi @hashstone, apologies for the delay. Are you still seeing the issue? Unfortunately, I haven't been able to reproduce it.

[2018-07-12 07:40] zqkou commented on #181
Hi @prydie,

Thank you!
I have tried single primary with almost the same error result.

This is the yaml I used:
-------------------------
apiVersion: mysql.oracle.com/v1alpha1
kind: Cluster
metadata:
  name: mysql-sp-cluster
  namespace: default
spec:
  members: 3
  volumeClaimTemplate:
    metadata:
      name: data
    spec:
      accessModes:
      - ReadWriteMany
      resources:
        requ

[2018-07-13 08:11] hashstone commented on #160
Hi @prydie, I check it again with mysql (8.0.11) whose imageID is **a8a59477268d**. Have reproduced.
### clue
1. Error log:
[fail-mysql.log](https://github.com/oracle/mysql-operator/files/2191756/fail-mysql.log)
2. show master status:
[code]
3. binlog:
[code]
4. mysql status:
[code]
### Some attempts
1. Notice that **SET @@SESSION.GTID_NEXT= 'AUTOMATIC'** is not done by operator, I update mysql-im

[2018-07-26 17:22] mareimorsy opened #190 "Error using mysql-agent with Kops"
Could you please update the mysql-agent image?
The logs gives me this error : "Error bootstrapping cluster: getting CIDR to whitelist for  GR: pod IP "100.96.5.46" is not a private IPv4 address"
There is a bug fix here:
CIDR fixes and kops support
https://github.com/oracle/mysql-operator/pull/184
It has merged but it didn't release yet ... Please build a new image as soon as possible

[2018-08-02 02:52] jareksm opened #191 "version 0.2.0 doesn't work with Spinnaker (0.1.1 does)"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**MySQL Operator Version**: 0.2.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.10.4
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS
- **Kernel** (e.g. `uname -a`): 4.14.48-coreos-r2
- **Others**: Spinnaker 1.8.3 (spinnaker.io)

## What happened

[2018-08-02 11:58] prydie commented on #191
Thanks for the bug report @jareksm.

If I'm understanding the issue correctly I believe this is a bug in Spinnaker rather than in the MySQL Operator. We have moved to prefixless Kinds as they are namespaced under our API Group and we use prefixed singular/plural names to disambiguate as `cluster`, `backup`, and `backupschedule` would otherwise be contended names.

To the best of my knowledge, the

[2018-08-02 11:58] #191 closed

[2018-08-02 13:50] #177 closed

[2018-08-03 09:39] mateusz-blaszkowski opened #193 "Installing operator in a different namespace fails"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**:

https://github.com/oracle/mysql-operator/commit/92fa62455e72f87935ac16d4c7a4260c43d3f3ea

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **O

[2018-08-03 09:54] mateusz-blaszkowski commented on #193
I've just realized `operator.global` should be set to false in order for the service account to be created in the specified namespace. But shouldn't it be set to false automatically if operator.namespace is specified? :)

[2018-08-06 15:21] naseemkullah opened #194 "documentation bug: router sidecar command inconsistent"
From what I gather,
https://github.com/oracle/mysql-operator/blob/92fa62455e72f87935ac16d4c7a4260c43d3f3ea/examples/demo/wordpress-router/wordpress-deployment.yaml#L46-L49
is correct as of 0.2.0

However https://github.com/oracle/mysql-operator/blob/master/docs/user/router.md causes confusion with
[code]

Which was a necessary hack in 0.1.0.

Thank you!

[2018-08-06 15:26] naseemkullah opened #195 "BUG: run.sh script in router sidecar"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**: 0.2.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.10.5
- **Cloud provider or hardware configuration**: GKE on GCP
- **OS** (e.g. from /etc/os-release): COS
- **Kernel** (e.g. `uname -a`): ?
- **Others**: n/a

## What happened?

Deployed wordpress router example as per https:/

[2018-08-08 12:37] sssshah opened #196 ""Cluster" in version "mysql.oracle.com/v1alpha1" not found"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST
BUG REPORT

## Versions
K8 v 1.9.1
**MySQL Operator Version**:
Lesst
**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

## What you expected to h

[2018-08-08 13:10] prydie commented on #196
Hi @sssshah, please can you provide a little more detail about the circumstances in which you're seeing this issue?

[2018-08-08 13:28] prydie opened #197 "Set MySQL server 8.0.12 as the default"
Set 8.0.12 as the default MySQL server version for new clusters.

[2018-08-09 12:42] sssshah commented on #196
Running on Oracle OKE
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:17:39Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"windows/amd64"}

Server Version: version.Info{Major:"1", Minor:"9+", GitVersion:"v1.9.7-2+ff9181f92914d6", GitCommit:"ff9181f92914d638c93511c5163ac1

[2018-08-09 19:30] #196 closed

[2018-08-10 08:49] JJSWAIN2018 commented on #105
@ git clone https://github.com/oracle/mysql­operator gives error page
i m also trying to resolve the same issue i.e installation mysql-operator
Error: failed to download "mysql-operator" (hint: running `helm repo update` may help)

[2018-08-10 13:38] owainlewis commented on #193
Thanks @mateusz-blaszkowski as you rightly pointed out we should probably handle this automatically.

[2018-08-13 13:34] owainlewis opened #198 "Handle upgrades to new MySQL versions."
As a user of the MySQL Operator, I want a way to upgrade the version of MySQL in an existing cluster by modifying the cluster CRD.

[2018-08-13 14:55] prydie commented on #197
Resolved in #199

[2018-08-13 14:55] #197 closed

[2018-08-13 19:49] airdos360 opened #200 "MySQL Agent fails to connect when root password is set"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**: 0.2.0

**Environment**: Linux
- **Kubernetes version** (use `kubectl version`): 1.11.2
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): CentOS 7
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

MySQL agent will not connect when root password is set

[2018-08-13 21:24] airdos360 opened #201 "Restore from PV"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions
0.2.0

## What happened?

Is there a way to restore a deleted cluster if a PVC is used?  I have a 3 node multMaster and it runs on 3 separate PVC.  If I delete the cluster via the YAML, they re-apply with the same settings, it does not come back online.   I am using a saved root password.   Is the only way to do a restore on

[2018-08-14 07:52] prydie commented on #200
This will almost certainly be due to shell escaping. I suggest we explore storing the root password in a [`.mylogin.cnf`](https://dev.mysql.com/doc/refman/8.0/en/mysql-config-editor.html).

[2018-08-14 07:59] prydie commented on #201
We don't support that currently in the operator itself, however, if it's possible to change the PVCs associated with a StatefulSet (I'm not sure that it is) then you might be able to modify the StatefulSet that the operator creates for your cluster once you have recreated it.

[2018-08-15 01:38] 941zturn commented on #195
I got the same issue yesterday. I found the root cause was I had changed password secret. The "new" password did not changed in mysql database. While mysql router using the new password to connect to the cluster. That's why it can not get the cluster status.

[2018-08-15 02:47] 941zturn opened #202 "BUG: wordpress:4.9.0-apache not capable with MYSQL8.0.11"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**:
0.2.0
**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.5", GitCommit:"f01a2bf98249a4db383560443a59bed0c13575df", GitTreeState:"clean", BuildDate:"2018-03-19T15:50:45Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"l

[2018-08-15 04:01] Simon-Li commented on #147
@prydie like to contribute if possible, my thought is to use an `io.Pipe mechanism` to redirect the output of `mysqldump` to `s3 storage store`, does this direction looks good to you?

[2018-08-15 08:38] bweston92 commented on #202
This isn't the correct place for the report. This is the Kubernetes operator for MySQL not MySQL it self.

[2018-08-15 09:15] pennpeng opened #203 "openshift 3.10 cant not create mysql cluster"
## Versions

**MySQL Operator Version**:
0.2
**Environment**:
- **Kubernetes version** (use `kubectl version`):
ocp 3.10(1.10)
- **Cloud provider or hardware configuration**:
openstack
- **OS** (e.g. from /etc/os-release):
rhel 7.5
- **Kernel** (e.g. `uname -a`):

- **Others**:

## What happened?
[code]

[2018-08-15 09:36] prydie commented on #147
@Simon-Li Awesome! I started a branch using `io.Pipe` but didn't manage to get it working before getting diverted. It might be a helpful starting point though: https://github.com/oracle/mysql-operator/commit/badf54e9918974af461bde4ccb856e420f23713c.

[2018-08-15 09:54] pennpeng commented on #203
the solutions:https://github.com/operator-framework/helm-app-operator-kit/issues/7

[2018-08-15 10:15] prydie commented on #203
@pennpeng Would you mind testing the updated helm chart from https://github.com/oracle/mysql-operator/pull/204/commits/d1effcd8c498657a097008c3691fa648f13d5b08 as we don't generally test on OpenShift perchance?

[2018-08-15 10:40] #203 closed

[2018-08-15 11:50] neumayer commented on #195
Without being a specialist here, I don't think the kubernetes behaviour is "wrong" here because it seems that changes to environment variables (even via secrets) do not retrigger redeployment.

https://kubernetes.io/docs/concepts/configuration/secret/

What I can do though, is improve the error message on the router container end, i.e. check if a connection can be established first before polling

[2018-08-15 12:00] prydie commented on #195
@naseemkullah I believe the root cause of the issue was the root password Secret reference being incorrectly set in the example Cluster yaml. I've fixed it in #205.

@neumayer It would certainly be nice though to have the router handle incorrect passwords with better user feedback 🙂

[2018-08-15 12:29] #195 closed

[2018-08-15 12:32] #40 closed

[2018-08-15 12:33] prydie commented on #102
MySQL 8 is known to have a slower start-up time than MySQL 5.7. Going to close for now.

[2018-08-15 12:33] #102 closed

[2018-08-15 12:43] #194 closed

[2018-08-15 15:42] Simon-Li commented on #147
@prydie ha~, great, will do!

[2018-08-16 09:07] pennpeng commented on #203
I have passed the test

[2018-08-16 16:55] airdos360 opened #208 "Recovery"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## What you expected to happen?

I have tested a internal network failure, for example the flannel network going down, and then try to bring the node back online.   The cluster does not recover and I can not figure out a way to bring it back online without a full delete and restore.   If this is going to be in production, I need to make

[2018-08-16 17:32] prydie commented on #208
Hi, @airdos360. Would you mind providing further details especially around steps to reproduce and logs from both the MySQL server and agent containers?

We have done quite a bit of testing around full outages and the operator _should_ be resilient to them so I’d be very interested to dig into it.

[2018-08-17 15:32] #198 closed

[2018-08-17 15:38] prydie commented on #181
Apologies for the long delay in getting back to you @zqkou. I don't have a GlusterFS environment to test with and haven't been able to replicate the issue with various other types of persistent storage. I wonder if its something to do with the underlying storage?

[2018-08-17 15:47] airdos360 commented on #208
I no longer have the log files for this as I have moved away from mysql operator for the time being.   I will reapply the settings and get you the logs in the next week.   I would really like to use this in production but I can't seem to get recovery scenarios to work.  I will keep you posted on the logs.

[2018-08-20 13:12] JJSWAIN2018 commented on #134
Hi ,
I getting the following error , when i create backup file .
Error in syncHandler, re-adding "default/mysql-backup" to queue: no primaries found
github.com/oracle/mysql-operator/pkg/controllers/backup.(*OperatorController).scheduleBackup
Where may the  issue ???

[2018-08-21 06:13] JJSWAIN2018 opened #210 "Hi , i am using mysql-operator ,"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**MySQL Operator Version**:

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

## What you expected to happen?

## How to reproduc

[2018-08-22 01:57] zqkou commented on #181
@prydie Thanks for replying.

No I don't think there is any issue with storage. As I mentioned above (twice), when PV is configured, the MySQL startup configuration is changed, which leads to startup failure. Could you please look into source code to locate the problem?

With PV:
group_replication_bootstrap_group: ON
group_replication_group_seeds:

Without PV:
group_replication_bootstrap_group: OF

[2018-08-23 14:32] #97 closed

[2018-08-23 14:48] bweston92 commented on #97
Doesn't work, get 401 on requests made to Wercker API.

[2018-08-26 15:13] Simon-Li opened #211 "Questions with 2 TODO comments"
Not sure whether the next 2 TODOs are still valid or not? @prydie

In agent controller, there is a `UpdateFunc` already added for `backupInformer` as below.

https://github.com/oracle/mysql-operator/blob/ee732cf526e71e79bfd1611bccdedc139178c10a/pkg/controllers/backup/agent_controller.go#L126-L128

so this todo may no longer need?
https://github.com/oracle/mysql-operator/blob/ee732cf526e71e79bfd161

[2018-08-27 14:29] prydie commented on #211
Hey @Simon-Li,

It looks to me like the TODO is still valid as there is no `UpdateFunc` declared in the operator controller. If the backup fails validation it won't be scheduled on an agent by my reading.

https://github.com/oracle/mysql-operator/blob/ee732cf526e71e79bfd1611bccdedc139178c10a/pkg/controllers/backup/operator_controller.go#L116-L136

[2018-08-28 13:16] JJSWAIN2018 opened #212 "Backup Issue in S3 bucket"
## Backup Issue in S3 bucket

Choose one: BUG REPORT
Backup Issue in S3 bucket

## Versions

**MySQL Operator Version**: 0.2.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.11
- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
When we take backup in both on-demand as well

[2018-08-28 15:27] Simon-Li commented on #212
see this too, may look into it when have a chance.

[2018-08-28 16:39] prydie commented on #212
Thanks for the bug report @JJSWAIN2018.

I believe the issue is that the agent backup and restore controllers only check if the backup/restore is scheduled before processing rather than also checking the `v1alpha1.{Backup,Restore}Complete` condition too.

https://github.com/oracle/mysql-operator/blob/ee732cf526e71e79bfd1611bccdedc139178c10a/pkg/controllers/backup/agent_controller.go#L128-L143

htt

[2018-08-31 10:56] #211 closed

[2018-08-31 11:06] mtgerb opened #214 "Toleration for mysql cluster resource"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

I would like to make use of the taint and toleration concept (https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/) to run a mysql cluster only on specific nodes. Therefore I want to specify tolerations for the cluster kubernetes resource.

``
apiVersion: mysql.oracle.com/v1alpha1
kind: Cluster
metadata:
  name: mysql

[2018-08-31 12:58] prydie commented on #212
Resolved by #213

[2018-08-31 12:58] #212 closed

[2018-08-31 17:45] prydie commented on #190
Resolved with the 0.3.0 release. Sorry this took so long @mareimorsy!

[2018-08-31 17:45] #190 closed

[2018-09-09 00:47] Simon-Li commented on #210
@JJSWAIN2018 you may post more info from the output of `kubectl -n mysql-operator describe pod mysql-0` and `mysql-1` etc.

[2018-09-17 13:06] prydie commented on #214
The implementation should be very similar to https://github.com/oracle/mysql-operator/pull/218.

[2018-09-17 13:29] #193 closed

[2018-09-17 13:41] prydie opened #221 "Investigate upgrade E2E test flaking"
e.g. [[1]](https://app.wercker.com/Oracle/mysql-operator/runs/end-to-end-tests/5b9fa7f6c81a8a00066d8a96?step=5b9fa81e82df1e00070eb386) [[2]](https://app.wercker.com/Oracle/mysql-operator/runs/end-to-end-tests/5b9fa62a8c38a200070e28c3?step=5b9fa640f07af00007e89b6d)

[2018-09-18 16:52] KashifSaadat commented on #82
I believe this is now covered via PR #218

[2018-09-18 17:15] #82 closed

[2018-09-21 02:37] k19810703 opened #224 "failed to "Verify that you can connect to MySQL" according to quick start guide"
I followed quick start guide to start a cluster. Everythink seems fine.

➜  mysql-operator git:(master) ✗ kubectl get pods --namespace=mysqltest
NAME          READY     STATUS    RESTARTS   AGE
my-app-db-0   2/2       Running   0          31m
my-app-db-1   2/2       Running   0          27m
my-app-db-2   2/2       Running   0          24m

but in the last step , I failed to connect mysql.
➜  mysql

[2018-09-21 14:53] owainlewis opened #225 "Document requirement for RBAC cluster admin permissions"
Some Kubernetes offerings do not give you cluster admin by default which can confuse people using the operator. We should document the requirement for cluster admin for Oracle's managed Kubernetes offering specifically.

[2018-09-23 19:43] #137 closed

[2018-09-25 04:53] k19810703 commented on #224
@owainlewis
I can log in mysql use that password via kubectl exec
➜  ~ kubectl exec -n mysqltest -it my-app-db-0 /bin/bash
Defaulting container name to mysql.
Use 'kubectl describe pod/my-app-db-0' to see all of the containers in this pod.
bash-4.2# env | grep MYSQL_ROOT_PASSWORD
MYSQL_ROOT_PASSWORD=xs17uXpPE5bBe5TB
bash-4.2# mysql -u root -p$MYSQL_ROOT_PASSWORD
mysql: [Warning] Using a password o

[2018-10-03 09:52] bencurrerburgess commented on #225
Probably useful to reference this documentation in the process: https://docs.cloud.oracle.com/iaas/Content/ContEng/Concepts/contengaboutaccesscontrol.htm?

[2018-10-05 22:00] KashifSaadat opened #230 "Event log failure on backup creation"
**Type:** BUG REPORT

**Description:**
When a mysql cluster backup is created via the scheduler and processed by a mysql-agent, the agent attempts to fire an Event with the execution results. This fails due to the `v1alpha1.Backup` type not being correctly registered.

**Example logs:**
[code]

**Steps to recreate:**
1. Create a MySQL backup schedule: https://github.com/oracle/mysql-operator/blob/

[2018-10-24 08:24] lewismarshall opened #233 "kubectl cp doesn't work with oracle mysql images"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

`kubectl cp` fails as tar is missing from images - see See issue https://github.com/kubernetes/kubernetes/issues/58512.

## Versions

**MySQL Operator Version**
v0.3.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.10.3+coreos.0
- **Cloud provider or hardware configuration**: In house on metal (coreos on CISCO HW)
- *

[2018-10-28 13:19] kabudu opened #234 "mysql-operator S3 backup 403 response issues"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

This is more of a question than a bug report, but I couldn't work out where else to ask it, and there was no other suitable option.

## Versions

**MySQL Operator Version**: `0.3.0`

**Environment**:
- **Kubernetes version** (use `kubectl version`): `v1.10.0`
- **Cloud provider or hardware configuration**: `Hetzner Cloud`
- **OS** (e.g. from

[2018-11-01 15:11] soverbosch opened #235 "Cluster members not added to Cluster, probably because port number is incorrect"
BUG REPORT

## Master

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-09T21:51:54Z", GoVersion:"go1.9.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.

[2018-11-01 15:36] soverbosch opened #236 "Documentation about how to build this project"
FEATURE REQUEST

I was trying to build the project myself but am unable to do so, not really experienced with GO so probably missing something obvious. (Trying this on MacOSX).

current dir: /Users/xxxxxxxxx/Documents/Projecten/project/git/docker/src/mysql-operator

go version go1.11.1 darwin/amd64

dep:
 version     : v0.5.0
 build date  : 2018-07-26
 git hash    : 224a564
 go version  : go1.10.3

[2018-11-05 20:44] soverbosch commented on #236
Ok, got it working after all. It was indeed a newbee problem. If you checkout in a structure like
mysql-operator/src/github.com/oracle/mysql-operator then everything compiles just fine.

[2018-11-05 20:44] #236 closed

[2018-11-05 20:48] soverbosch commented on #235
After we changed the hard coded port in statefulset.go we got another problem, it concerns the whitelisting. The whitelist only contains the 10.X.X.X but this looks to be the ip address range of the pods but when the second members tries to become part of the cluster is has an ip address in another range (looks to be the node address).

[2018-11-16 01:40] ruiaylin commented on #224
you should change the hostname my-app-db  to your ip address , that will work ok .

[2018-11-16 01:41] ruiaylin commented on #224
@k19810703

[2018-11-16 03:55] HenryXie1 opened #237 "container "mysql-agent" in pod "mysql-test-cluster-0" is waiting to start: image can't be pulled"
## Is this a BUG REPORT or FEATURE REQUEST?

It is an issue when I tested the operator. Not sure if it is a bug

## Versions

**MySQL Operator Version**:
helm list:
mysql-operator          1               Fri Nov 16 03:38:38 2018        DEPLOYED        mysql-operator-0.2.1

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"10", GitVer

[2018-11-16 04:25] HenryXie1 opened #238 "Question on mysql-operator/mysql-operator/Chart.yaml"
## Is this a BUG REPORT or FEATURE REQUEST?

Question

## What happened?
I see 0.2.1 in the Chart.yaml while 0.3.0 in values.yaml
When I install via the tutorial, default, it installs 0.2.1 , not 0.3.0

## What you expected to happen?
0.3.0 is released. expect helm to install 0.3.0

## How to reproduce it (as minimally and precisely as possible)?
git clone https://github.com/oracle/mysql-operator

[2018-11-18 11:31] mauritsvdvijgh opened #240 "Backup retention policy"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Backup retention policy

Have a way to specify how many backups you want to keep for each time period.
For example: Keep last 7, 1 for each week for 10 weeks, one for each month for 12 months.

Instead of implementing a complete backup system with different backends yourself, I suggest using restic for backup purposes. It is made in

[2018-11-18 11:55] prydie commented on #240
I like the idea of using restic to handle this complexity for us. Would certainly be open to contributions in this area.

[2018-11-18 11:59] mauritsvdvijgh commented on #240
Interesting, I can also change the issue to "Implement restic for backups"
Or something like that.

[2018-11-19 14:54] #230 closed

[2018-11-20 01:29] HenryXie1 opened #241 "Error from server (BadRequest): container "mysql-operator-controller" in pod "mysql-operator-XXX" is waiting to start: trying and failing to pull image"
## Is this a BUG REPORT or FEATURE REQUEST?
An Issue

## Versions

**MySQL Operator Version**:
 mysql-operator-0.3.0

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.5+2.0.2.el7", GitCommit:"03e76fbbae7a955458f4a42fa9b22d6bb7402eb6", GitTreeState:"archive", BuildDate:"2018-07-19T17:01:40Z", GoVersion:"go1.9.4"

[2018-11-22 04:09] HenryXie1 commented on #241
The issue is caused by me that I updated Chart.yaml with new value of 0.3.0
After I rollback to 0.2.1  . it works now.
close it

[2018-11-22 04:09] #241 closed

[2018-11-22 04:59] HenryXie1 commented on #237
I found the issue is related my intranet proxy settings. Somehow docker can go thru the proxy and get mysql image (mysql/mysql-server)from docker hub, while it has trouble to get mysql-agent image(iad.ocir.io/oracle/mysql-agent).  I change to an alternative proxy for our docker, now i can get both mysql and mysql-agent images . close the issue

[2018-11-22 04:59] HenryXie1 commented on #237
close it

[2018-11-22 04:59] #237 closed

[2018-11-30 03:09] alantang888 opened #242 "On multi-master mode. When `0` instance down. It can't join cluster."
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**MySQL Operator Version**:
  0.3.0
**Environment**:
- **Kubernetes version** (use `kubectl version`):
  Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-08T16:31:10Z", GoVersion:"go1.10.3", Compile

[2018-12-06 06:54] jr19825 opened #243 "Error bootstrapping cluster: getting CIDR to whitelist for GR: pod IP "172.100.3.71" is not a private IPv4 address"
## Is this a BUG REPORT or FEATURE REQUEST?
 **BUG REPORT**
Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**MySQL Operator Version**:

**Environment**:
- **Kubernetes version** (use `kubectl version`):
GitVersion:"v1.10.4"
- **Cloud provider or hardware configuration**:
aliyun ecs
- **OS** (e.g. from /etc/os-release):
centos 7.5
- **Kernel** (e.g. `uname -a`):
Linux k8s-master0011 3.10.0

[2018-12-11 06:50] alantang888 commented on #242
One more finding. If this happen. Will have a log on mysql container `[ERROR] [MY-011735] [Repl] Plugin group_replication reported: '[GCS] Invalid hostname or IP address (mysql-dummy-0.mysql-dummy:33061) assigned to the parameter local_node!'`

[2018-12-12 17:15] db-adrian opened #244 "mysql router cant connect to cluster outside of cluster namespace"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: FEATURE REQUEST

## Versions

**MySQL Operator Version**:

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.11.3
- **Cloud provider or hardware configuration**: Digitalocean
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
Using the mysql router in a different namespa

[2019-01-10 02:54] welyss commented on #181
same to me, version i used is release 0.3.0, storageclass is cephrbd.
if i take off the conf of volumeClaimTemplate, it works well.
if create with conf of volumeClaimTemplate, it starts only one pod, and on mysql container' log:
it stops at:

2019-01-10T02:47:34.359076Z 0 [Note] [MY-011240] [Server] Plugin mysqlx reported: 'Using SSL configuration from MySQL Server'
2019-01-10T02:47:34.359731Z 0 [

[2019-01-10 14:39] remiuz commented on #233
I just fix it in my case adding tar to the Docker image : RUN yum install -y tar

[2019-01-15 15:33] delgod opened #248 "operator don't apply resources"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**MySQL Operator Version**:  0.3.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): `version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.5-gke.5", GitCommit:"9aba9c1237d9d2347bef28652b93b1cba3aca6d8", GitTreeState:"clean", BuildDate:"2018-12-11T02:36:50Z", GoVersion:"go1.10.3b4", Compiler:"gc", Platform:"lin

[2019-01-18 06:13] DesmondHoLLM commented on #248
I think you need to add the server block as well:

[code]

[2019-01-18 14:00] delgod commented on #248
@DesmondHoLLM no success, I have run the following command
[code]
checked with following command
[code]

[2019-01-21 01:41] DesmondHoLLM commented on #248
@delgod  I think you missed an `i` in memory

[code]

[2019-01-21 17:11] prydie commented on #248
@delgod Did you delete and recreate the Cluster resource? The latter spec should work on creation, however, the operator doesn't currently reconcile changes to the resources.

[2019-01-21 17:22] delgod commented on #248
@prydie yes, I am creating CR from the scratch.

[2019-01-22 09:16] macno commented on #244
Any update on this issue? We need to be able to reach a mysql cluster instance from several other namespaces but this bug is stopping us.

[2019-01-22 10:37] delgod commented on #248
looks like root of the issue: I use helm chart, which use `0.3.0` operator tag, but resources support is in the master branch.

[2019-01-22 10:37] #248 closed

[2019-01-22 10:57] delgod opened #250 "cannot recreate cluster without data lose"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**MySQL Operator Version**: 0.3.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.11.6-gke.2
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): -
- **Kernel** (e.g. `uname -a`): -
- **Others**:

## What happened?
I have a cluster with data. for example, I need to adjus

[2019-01-22 12:43] delgod commented on #244
a workaround idea -- start router inside cluster namespace, create a ClusterIP or LoadBalancer service which points to the router.

[2019-01-22 13:16] macno commented on #244
Thanks @delgod , I'd prefer to use mysql-router as a sidecar in my app pod, but I will give it a try

[2019-01-22 18:15] prydie commented on #250
Hi @delgod, would you mind trying with a pre-created root password secret referenced in the Cluster CR? I believe the issue here is that we're auto-generating a fresh password that does not match the previous password stored in the data directory.

If the above is the case I'm not sure we can do anything about this without removing the password generation functionality (which I'm not necessarily c

[2019-01-28 12:04] tarlov commented on #235
we are experiencing exactly the same issue. Do you expect the issue to be fixed soon?

[2019-02-09 15:54] BostjanBozic opened #252 "MySQL failed to initialize after PV (GlusterFS)"
## Versions

**MySQL Operator Version**: 0.3.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.13.1
- **Cloud provider or hardware configuration**: 6 nodes (1 master, 5 worker), each 56xCPU, 256GB RAM
- **OS** (e.g. from /etc/os-release): Red Hat Enterprise Linux Server release 7.3
- **Kernel** (e.g. `uname -a`): 3.10.0-327.el7.x86_64
- **Others**:

## What happened?
MySQL d

[2019-02-14 04:18] wanghe-fit2cloud opened #253 "Can I create mysql5.7 on the master branch?"
##Question
After the master branch is created successfully, we found that mysql version is 8.0.12. There is such a problem that whether mysql5.7.x version can be created on the master branch

## Versions
**MySQL Operator Version**:
- master branch

**Environment**:
- Kubernetes version 1.13.2

## What you expected to happen?
I want to create a mysql5.7 database on the master branch

[2019-02-15 16:34] owainlewis commented on #253
Hi @wanghe-fit2cloud

We dropped support for MySQL 5.7 and now only support 8.0.11 as a minimum version.

[2019-02-15 16:34] #253 closed

[2019-02-20 08:45] wanghe-fit2cloud opened #254 "Can i replace mysql/mysql-server:8.0.12 with a local image"
Mysql-operator version is 0.3.0

One problem is that when I create mysql-operator and Cluster, I find no place to modify mysql/mysql-server: 8.0.12 image.

Because when helm created mysql-operator, the image.register field in values.yaml was changed to the local mirror warehouse address, such as: 10.1.240.51/mysql, so
mysql-operator and mysql-client applied the local mirror, but mysql-server did n

[2019-02-20 13:32] cpanato opened #255 "Is this project abandoned?"
we are planning to use the operator in production but looks like no more commits or updates.

[2019-02-20 15:39] delgod commented on #255
Hi @cpanato,

it is alive, Oracle MySQL Operator is a featureful operator, works fine, I haven't found any critical bugs, it is based on MySQL 8.0

you can also look into other MySQL Operators
- https://github.com/Percona-Lab/percona-xtradb-cluster-operator
- https://github.com/presslabs/mysql-operator

if you really need sharding - you can look into
- https://github.com/vitessio/vitess-operator
-

[2019-02-20 19:01] sylus opened #256 "Switch to Beta instead of Alpha notice"
## Is this a BUG REPORT or FEATURE REQUEST? Feature Request

Hi there, I have been using the MySQL Operator to great effect alongside with my Drupal operator.

Overall the service has been incredibly stable for me, I was wondering if there was a possibility of switching the notice to reflect a Beta status given the maturity, or is that still too early? I'd be curious what if anything was still hol

[2019-02-21 20:30] devdattakulkarni opened #257 "How to reset super-read-only option? It prevents database creation"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**:
Latest SHA c98210b2c7b176befa00aa0751db184088adfc39

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.10.0
- **Cloud provider or hardware configuration**: Minikube
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

Trying to crea

[2019-02-27 02:46] xjxia opened #258 "mysql-agent get cluster status failed"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**: 0.3.0(latest master pull)

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.8.15
- **Cloud provider or hardware configuration**: * Minikube
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:
cluster.yaml
kind: Cluster
metadata:
  name: my-app-db
  n

[2019-03-01 18:06] dragonsmith commented on #248
I'm sorry for digging up this issue, but do you know about any plans regarding a fresh release of mysql-operator?

I really want to setup a mysql-cluster inside my K8s setup and using "unlimited" pods is not a good option in my case.

Thank you very much!

[2019-03-04 10:20] owainlewis commented on #255
@cpanato Hey. No the project is still active but has been pretty quiet for a while now. Please let me know if you have any specific questions about features or roadmap etc.

[2019-03-04 10:20] #255 closed

[2019-03-04 10:47] cpanato commented on #255
@owainlewis thanks! i think we will start using this with our operator 😄 thanks!

[2019-03-10 04:04] d0x2f opened #259 "mysql container in server pod crashes intermittently after deployment."
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**MySQL Operator Version**: master

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**: GKE

## What happened?
When producing a cluster stateful set, often one of the pods enters a crash loop with the following logs:

[error-log.txt](https://gith

[2019-03-10 04:45] d0x2f commented on #259
I've just run a test using a ReadWriteMany PVC using an nfs-provisioner and there have been no crashes so far. I'd guess ReadWriteMany is indeed required then.

[2019-03-11 03:25] d0x2f commented on #259
Nevermind, throw out my ReadWriteMany theory, I'm still getting crashes, log attached.

[crash-log.txt](https://github.com/oracle/mysql-operator/files/2950536/crash-log.txt)

[2019-03-11 09:52] bweston92 commented on #259
Can you have a look at the events on the deployment/pod?
Seems like you're getting a SIGABRT sent to the pod.

[2019-03-11 11:42] d0x2f commented on #259
The crash may be coinciding with a node scale up event, here're the events of a pod that crashed.

[code]

I'm using the smallest instance type n1-standard-1 so scaling happens often.

[2019-03-11 11:46] bweston92 commented on #259
More then likely the case.

[2019-03-12 09:37] bweston92 commented on #259
@d0x2f have you been able to resolve?

[2019-03-12 12:27] d0x2f commented on #259
Unfortunately not, I've switched to larger images and a larger minimum node pool but I'm still getting crashes even without a node scaling event.

I'd be curious if anyone else is able to reproduce this. I don't believe there's anything special about my gke setup.

[2019-03-19 12:19] linqingping commented on #88
I also encounter the same problem. How can I solve it?

[2019-03-19 13:13] linqingping opened #262 "Create a cluster with a persistent volume failed"
## Is this a BUG REPORT or FEATURE REQUEST?

 BUG REPORT

## Versions

**MySQL Operator Version**:8.0.12

**Environment**:
- **Kubernetes version** (use `kubectl version`):Client Version:v1.13.4，Server Version:v1.13.4
- **Cloud provider or hardware configuration**:Bare metal ,k8s run in docker container(Deployed via rancher2.0)，Single Node Cluster
- **OS** (e.g. from /etc/os-release):CentOS Linux

[2019-03-19 13:56] linqingping commented on #252
how to slove it

[2019-03-19 14:35] linqingping commented on #262
@rbg need you help

[2019-03-19 14:37] linqingping commented on #262
@CaptTofu

[2019-03-19 14:44] prydie commented on #262
@linqingping If I understand correctly this looks like a permissions / Kubernetes cluster configuration issue as the Pod isn't starting. I suggest first trying to manually create a Pod that mounts your PVC and seeing if you run into the same problem.

[2019-03-19 15:18] linqingping commented on #262
@prydie **Thanks for you help!But create a Pod that mounts my PVC  not have this problem! how can I do?**
**the detail info:**
![image](https://user-images.githubusercontent.com/20528139/54617901-12f6dd00-4a9d-11e9-9e9b-52f45b43517c.png)

kubectl describe  po mysql-7879778879-b64mn
Name:               mysql-7879778879-b64mn
Namespace:          default
Priority:           0
PriorityClassName:  <non

[2019-03-19 17:08] prydie commented on #262
Interesting. Would you mind trying with a subpath on the VolumeMount to mimic what the operator is doing?

https://github.com/oracle/mysql-operator/blob/c98210b2c7b176befa00aa0751db184088adfc39/pkg/resources/statefulsets/statefulset.go#L61-L65

[2019-03-20 01:07] linqingping commented on #262
As you said, am I right in doing so?
![image](https://user-images.githubusercontent.com/20528139/54651725-161ab900-4aef-11e9-8f8e-ad9962a5ab6c.png)
![image](https://user-images.githubusercontent.com/20528139/54651729-1e72f400-4aef-11e9-8000-a69d7a87d4b4.png)
![image](https://user-images.githubusercontent.com/20528139/54651826-7c074080-4aef-11e9-88d7-6d035e409325.png)
![image](https://user-images.g

[2019-03-20 01:27] linqingping commented on #88
@WTwilight **I also encounter the same problem. How can I solve it?Can you help me?Thank you！**
![image](https://user-images.githubusercontent.com/20528139/54652499-081a6780-4af2-11e9-923e-b51659440593.png)

[2019-03-21 19:31] adamelliotfields commented on #262
You have to create the directory on your host first, or use a different `hostPath.type`.

See <https://kubernetes.io/docs/concepts/storage/volumes/#hostpath>

[2019-03-22 01:15] linqingping opened #263 "create cluster failed"
![image](https://user-images.githubusercontent.com/20528139/54794542-0207c080-4c83-11e9-94ff-09e8d0751a4d.png)

[2019-03-22 03:12] linqingping commented on #263
E0322 03:11:58.035480       1 cluster_manager.go:126] Failed to get the cluster status: signal: killed
getting cluster status from group seeds
github.com/oracle/mysql-operator/pkg/controllers/cluster/manager.(*ClusterManager).getClusterStatus
	/go/src/github.com/oracle/mysql-operator/pkg/controllers/cluster/manager/cluster_manager.go:106
github.com/oracle/mysql-operator/pkg/controllers/cluster/man

[2019-03-22 08:01] linqingping commented on #263
ServiceAccount and RoleBinding
![image](https://user-images.githubusercontent.com/20528139/54808498-55960080-4cbb-11e9-9a25-345a5cb02e7d.png)
mysql_cluster.yaml
![image](https://user-images.githubusercontent.com/20528139/54808467-4616b780-4cbb-11e9-9a17-988925a467b5.png)
helm list
![image](https://user-images.githubusercontent.com/20528139/54808246-a0fbdf00-4cba-11e9-8b06-e47cb855091c.png)
kubectl

[2019-03-22 08:02] linqingping commented on #263
@Adam Fields

[2019-03-22 08:05] linqingping commented on #258
@xjxia do you sloved it?

[2019-03-22 09:42] prydie commented on #263
@linqingping The minimum number of members you should have in a cluster is three for MySQL InnoDB clustering.

[2019-03-22 09:48] linqingping commented on #263
@prydie Thank you for you help！ **members=3**
![image](https://user-images.githubusercontent.com/20528139/54814210-35ba0900-4cca-11e9-9c67-847d1250a3c5.png)
![image](https://user-images.githubusercontent.com/20528139/54814245-48ccd900-4cca-11e9-8e22-0519e2d56cf8.png)

[2019-03-22 09:59] prydie commented on #263
@linqingping Can you grab the logs from the mysql-agent sidecar in the mysql-0 Pod please?

Other thoughts: do you have a NetworkPolicy defined that's not allowing the MySQL server instances to communicate?

[2019-03-22 10:08] linqingping commented on #263
[root@localhost mysql_test]# kubectl logs  mysql-0 -n mysql-operator -c mysql-agent
Starting mysql-agent version 0.2.0
I0322 08:08:53.229613       1 main.go:48] FLAG: --address="0.0.0.0"
I0322 08:08:53.229666       1 main.go:48] FLAG: --alsologtostderr="false"
I0322 08:08:53.229673       1 main.go:48] FLAG: --cluster-name="mysql"
I0322 08:08:53.229678       1 main.go:48] FLAG: --healthcheck-port="

[2019-03-22 10:10] linqingping commented on #263
I don‘t  have NetworkPolicy @prydie

[2019-03-22 10:16] prydie commented on #263
@linqingping Ah, you're running 0.2.0. Can you try the latest release (0.3.0)?

[2019-03-22 10:29] linqingping commented on #263
[root@localhost mysql_test]# kubectl logs mysql-0 -n mysql-operator -c mysql-agent
Starting mysql-agent version 0.3.0
I0322 08:36:21.807203       1 main.go:48] FLAG: --address="0.0.0.0"
I0322 08:36:21.807248       1 main.go:48] FLAG: --alsologtostderr="false"
I0322 08:36:21.807254       1 main.go:48] FLAG: --cluster-name="mysql"
I0322 08:36:21.807259       1 main.go:48] FLAG: --healthcheck-port="1

[2019-03-22 10:30] prydie commented on #263
That looks more promising 😄

[2019-03-22 10:31] linqingping commented on #263
![image](https://user-images.githubusercontent.com/20528139/54816947-9b10f880-4cd0-11e9-8e7d-cf7efcefb91a.png)

[2019-03-22 10:32] linqingping commented on #263
@prydie Still wrong

[2019-03-22 10:33] prydie commented on #263
Can you grab the mysql-agent logs from mysql-1?

[2019-03-22 10:35] linqingping commented on #263
[root@localhost mysql_test]# kubectl logs mysql-1 -n mysql-operator -c mysql-agent
Starting mysql-agent version 0.3.0
I0322 08:39:00.530681       1 main.go:48] FLAG: --address="0.0.0.0"
I0322 08:39:00.530730       1 main.go:48] FLAG: --alsologtostderr="false"
I0322 08:39:00.530737       1 main.go:48] FLAG: --cluster-name="mysql"
I0322 08:39:00.530742       1 main.go:48] FLAG: --healthcheck-port="1

[2019-03-22 10:36] prydie commented on #263
That looks good too. The Pods are still not showing as Ready then?

[2019-03-22 10:37] linqingping commented on #263
Has been constantly restart
![image](https://user-images.githubusercontent.com/20528139/54817272-79644100-4cd1-11e9-8f47-d5d1934e32f3.png)
 @prydie

[2019-03-23 10:30] linqingping opened #264 "mysql server not start"
![image](https://user-images.githubusercontent.com/20528139/54864989-b09e2500-4d99-11e9-80b2-c70747f93b7f.png)

[2019-03-23 10:32] linqingping commented on #264
![image](https://user-images.githubusercontent.com/20528139/54864998-cc093000-4d99-11e9-9d8d-6c07ebdbe51a.png)
![image](https://user-images.githubusercontent.com/20528139/54865003-d9261f00-4d99-11e9-8366-74ad105c9c9d.png)
![image](https://user-images.githubusercontent.com/20528139/54865019-f78c1a80-4d99-11e9-9afe-b95ddeb4e4d3.png)
![image](https://user-images.githubusercontent.com/20528139/5486501

[2019-03-23 10:46] prydie commented on #264
It looks like the password in the Secret doesn't match the password that the mysql data directory on disk was initialised with. I suggest trying to recreate the cluster after removing the contents of the data directory.

[2019-03-23 10:51] linqingping commented on #264
the data directory is empity @prydie
![image](https://user-images.githubusercontent.com/20528139/54865185-9d408900-4d9c-11e9-9b64-2a135ff9fe77.png)

[2019-03-23 11:07] prydie commented on #264
Are you sure? The first set of logs mentions at least key files in the data directory.

[2019-03-23 11:48] linqingping commented on #264
![image](https://user-images.githubusercontent.com/20528139/54865462-f01c3f80-4da0-11e9-8649-0a43567839a5.png)
![image](https://user-images.githubusercontent.com/20528139/54865696-8e5dd480-4da4-11e9-8159-cb9f87bb93fc.png)
![image](https://user-images.githubusercontent.com/20528139/54865689-68383480-4da4-11e9-8367-1e03b609cf3a.png)

[2019-03-25 08:49] zhxcai commented on #254
[code]

[2019-03-26 01:40] xjxia commented on #258
It's ok now ,but I don't know the reason or why its comes well, maybe related to k8s cluster's configure.
I cann't repeat now

[2019-03-26 08:58] crazyacking opened #265 "no matches for mysql.presslabs.org/, Kind=MysqlCluster"
## BUG REPORT
[code]
![image](https://user-images.githubusercontent.com/11402371/54978487-7de36f00-4fdb-11e9-81df-285a3cb11ff2.png)

## Versions

**MySQL Operator Version**:

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
- **OS** (cat /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What ha

[2019-03-28 08:54] linqingping opened #266 "how to backup and restore in local"
how to backup and restore in local ?
https://github.com/oracle/mysql-operator/blob/master/examples/cluster/cluster-with-data-volume-and-backup-volume.yaml
the example backupVolume how to use?

[2019-03-28 09:08] prydie commented on #266
Hi @linqingping. The only currently supported backup/restore mechanism is via an S3 compatible object storage backend. The easiest way to facilitate that locally would be using an in-cluser [Minio](https://github.com/minio/minio) setup.

[2019-03-28 09:08] #266 closed

[2019-03-28 09:10] prydie commented on #265
Hi @crazyacking, you appear to be trying to use the [PressLabs MySQL operator](https://github.com/presslabs/mysql-operator) rather than the Oracle MySQL Operator.

[2019-03-28 09:10] #265 closed

[2019-03-28 09:21] linqingping opened #267 "how to use backup ？"
the cluster yaml from
https://github.com/oracle/mysql-operator/blob/master/examples/cluster/cluster-with-data-volume-and-backup-volume.yaml

[2019-03-28 09:53] prydie commented on #267
Hi @linqingping. The backup volume is a historical artefact of when we wrote backups to disk prior to uploading them to object storage. We should flag it up as deprecated and remove it from the documentation / examples.

Documentation on backup up to an S3 compatible object storage backend can be found [here](https://github.com/oracle/mysql-operator/blob/master/docs/user/backup.md).

[2019-03-28 09:53] #267 closed

[2019-03-28 10:04] linqingping commented on #267
thank you

[2019-03-28 19:03] michaelfig opened #268 "Allow setting TZ environment variable"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

I would like to have a `Cluster` resource option for setting the mysql daemon's `TZ` environment variable.  Such as:

[code]

This is useful for supporting specifying the default timezone without running into bootstrap issues, if say, the `default-timezone` setting is used in `my.cnf` (which causes mysqld to fail to start before the `my

[2019-04-01 02:27] crazyacking commented on #265
oooops, Sorry It's my fault.

[2019-04-01 13:34] sivachirravuri opened #269 "Not able to bring up the cluster"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**MySQL Operator Version**: 0.2.0

**Environment**: aws
- **Kubernetes version** (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24191080aa463b", GitTreeState:"clean", BuildDate:"2018-01-18T10:09:24Z", GoVersion:"go1.9.2", Compiler:

[2019-04-01 13:53] prydie commented on #269
Hi @sivachirravuri, you're using version 0.2 but applying a 0.3 CRD. Please try again with the latest version of the Operator installed.

[2019-04-01 13:53] #269 closed

[2019-04-03 19:16] michaelfig opened #270 "Mysql-agent not ready but mysql endpoint still added"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**: 0.3.0

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: On-premises ProxMox servers
- **OS** (e.g. from /etc/os-release): ProxMox
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

Some of my statefulset pods fell

[2019-04-03 19:34] michaelfig commented on #270
In `mysql-operator/pkg/resources/services/service.go` I see on line 42 an annotation for the headless service that says:
[code]

Why is this?  Is there a single service endpoint for all the ready masters in a multimaster cluster?

[2019-04-04 11:15] prydie commented on #270
Hi @michaelfig, the headless service is for inter-node communication. The [MySQL router](https://github.com/oracle/mysql-operator/blob/master/docs/user/router.md) should be used for client connections.

[2019-04-04 11:15] #270 closed

[2019-04-04 19:31] leva0887 opened #271 "pod IP is not a private IPv4 address"
BUG REPORT

`I0404 19:22:20.653553       1 cluster_manager.go:309] Creating InnoDB cluster
E0404 19:22:20.653586       1 cluster_manager.go:135] Error bootstrapping cluster: getting CIDR to whitelist for  GR: pod IP "100.103.192.6" is not a private IPv4 address`

https://whatismyipaddress.com/ip/100.103.192.6

Please fix it

[2019-04-13 05:15] RamyAllam opened #272 "Geographic Node Distribution/Asynchronous replication support"
Can you please explain if the operator can do Geographic Node Distribution ( asynchronous replication ) out of the box on Kubernetes? I was following the below guides and was wondering if it's possible to automate the whole process through MySQL operator.

https://scriptingmysql.wordpress.com/2019/03/29/replicating-data-between-two-mysql-group-replication-sets-using-regular-asynchronous-replicatio

[2019-04-17 10:48] wanghe-fit2cloud opened #273 "How can I run tests on my local machine"
After I clone the code, how to start the operator to run the test locally (command: operators-sdk up local)?

Thanks!

[2019-04-18 06:38] #273 closed

[2019-04-19 01:43] welyss opened #274 "buffer overflow detected"
## Versions
**MySQL Operator Version**: release: 0.3.0
**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:39:04Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Majo

[2019-04-29 22:01] Djelibeybi opened #275 "Change operator Dockerfile to use oraclelinux:7-slim"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one:  FEATURE REQUEST

Please update the `docker/mysql-operator/Dockerfile` to use `FROM oraclelinux:7-slim` for security purposes because the currently used image is not updated.

[2019-05-03 11:33] bluemixgarage opened #277 "How to set resources to mysql pods ?"
I would like to set the `resources` to the pods of the ReplicaSet. Anyone know how to achieve this ?
Cheers.

[2019-05-05 09:40] viveksoundrapandi opened #278 "Operator pod permannently stays in state container creating"
I just followed the tutorial,
* Cloned the repo
* Ran helm install with rbac disables
* the operator pod just stays in containercreating state forever
kubectl logs gives this:
Error from server (BadRequest): container "mysql-operator-controller" in pod "mysql-operator-5d7f48df5b-lttt4" is waiting to start: ContainerCreating

[2019-05-07 07:52] vladas commented on #257
In my case, the issue was that I had 3 members, of which only 1 was in 'write', and others in 'read' mode.

However, the service domain name didn't point to the 'write' instance.

Not exactly sure how this is supposed to work, but I see the following solutions/workarounds:
- Reduce cluster size to 1 (members: 1)
- Make cluster "multiMaster: true"
- connect directly to to the "write" instance

[2019-05-07 15:17] houshengbo opened #279 "Are mysql-operator and mysql-agent repeating each other?"
I have been learning mysql operator lately. I found that a large section of source code for mysql-agent is pretty much similar to mysql-operator. I am wondering why we have both of them. What is difference between them? Why not consolidate them into one mysql operator code flow?

[2019-05-08 10:30] yangjie1993 opened #280 "how to create cluster with Private Registry"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**MySQL Operator Version**: 0.3.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.14
- **Cloud provider or hardware configuration**: hardware configuration
- **OS** (e.g. from /etc/os-release):
    NAME="CentOS Linux"
    VERSION="7 (Core)"
    ID="centos"
    ID_LIKE="rhel fedora"
    VERSION_ID="7"

[2019-05-13 08:08] yangjie1993 commented on #254
emmmmm. where can i configure private registry key。。。like imagesPullSecrets

[2019-05-13 08:43] yangjie1993 commented on #254
o'right,i got way to solve it

[2019-05-14 23:11] gabrieljackson commented on #257
I seemingly just stumbled upon this issue myself.

We had a 2-member configuration with one pod running read-only due to the mysql cluster not being set with `multiMaster: true`. The service name resolves to both pod IPs after deployment, which I think is the real bug here.

It's a tricky failure case, because if your client happens to resolve to the right IP, you will get the non-read-only node a

[2019-05-24 09:17] purebluesong commented on #253
Is any idea to use MySQL 5.7?

[2019-05-24 23:12] RongoDog commented on #257
I'm experiencing this issue myself. Could this have anything to do with the fact that I'm using an AWS storage class to define my volumes? I'm running a 3 node cluster with multi-master turned off.

Edit:

For more info I thought I would paste my kubernetes yaml file.
[code]

[2019-05-30 18:50] osmarleao opened #282 "Following the tutorial I got pod missing name error"
## Is this a BUG REPORT or FEATURE REQUEST?
Maybe a BUG
Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**MySQL Operator Version**:
0.3.0

**Environment**:

- **Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.7+1.1.2.el7", GitCommit:"02dd7eef0970a31fb7bd6e3392a3d0e411870c59", GitTreeState:"archive", BuildDate:"2019-04-05T1

[2019-06-20 08:47] cpanato commented on #258
I start seeing this issue in my cluster. this is not clear to me why it is happening. @xjxia how did you fix in your side?

thanks

[2019-06-24 21:22] HenryXie1 commented on #280
If you K8s cluster is behind firewall, you may docker pull the public mysql image and push it into your private registry, then use the one in your registry.

[2019-06-27 02:26] cotocn opened #284 "StatefulSet Pod was never evicted from the failure node."
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**MySQL Operator Version**:

MySQL Operator Version is 0.0.3
MySQL Version is 8.0.12

**Environment**:
- **Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"201

[2019-06-27 21:49] HenryXie1 commented on #284
mysql is on statefulset, so it is stateful, not stateless, statefulset is designed on assigned node.  it has data pv attached on the worker node, so it can't move to another node if the worker node is down. the workaround to switch service to the slave node which is running on the other worker node

[2019-06-27 21:56] HenryXie1 commented on #284
Per https://dev.mysql.com/doc/refman/5.7/en/mysql-innodb-cluster-introduction.html
MySQL router in innodb cluster can automatically route traffic to the slave node

[2019-06-29 16:41] cotocn commented on #259
I had a similar problem when I increased the number of members in YAML below.
[code]
[code]

[2019-07-15 17:31] azaiter commented on #274
were you able to fix it? I'm currently facing the same issue.
Edit: for reference, I'm also using a custom my.cnf with the following:

[code]

Your workaround works btw 👍

[2019-07-19 14:45] Berndinox commented on #86
Some Docs on this would still be nice... BR B

[2019-07-21 15:37] Berndinox opened #285 "[Help] Backup to BU-Vol?"
The Docs just mention how to backup to s3 (StorageProvier: S3)
But, how van i Backup to my Backup Volume?!

And, how can i backup all databases?

BR Bernd

[2019-07-24 08:44] jiachu opened #286 "mysql-agent dba.getcluster error"
hello , i have a problem when pod restart.
![图片](https://user-images.githubusercontent.com/33144537/61778582-994b7300-ae31-11e9-965c-bb74ab493d4d.png)

mysql log
2019-07-24T08:27:29.629995Z 1 [Note] [MY-012265] [InnoDB] InnoDB: Setting file './ibtmp1' size to 12 MB. Physically writing the file full; Please wait ...
2019-07-24T08:28:16.340871Z 1 [Note] [MY-012266] [InnoDB] InnoDB: File './ibtmp1' s

[2019-08-05 10:54] yanbaotong opened #287 "auto_increment"
MySQL's primary key auto-increment Why default 7, how to change,auto_incrememt-increment=1,auto-increment-offset=1？
![image](https://user-images.githubusercontent.com/46802377/62459620-76ff1100-b7b2-11e9-8be2-1a26a8ec4de6.png)

[2019-08-05 17:16] tomclark opened #288 "MySQL cluster doesn't survive Kubernetes cluster restart"
## QUESTION

This is a question because I'm sure I'm doing this wrong, or misunderstanding how things are intended to work rather than it being a bug.

I found this issue which seems to be resolved, but I don't quite understand the fix and the steps don't work for me (or I'm doing it wrong):

https://github.com/oracle/mysql-operator/pull/94

## Versions

**MySQL Operator Version**: 0.2.1

**Enviro

[2019-08-06 23:42] tonyg4864 commented on #72
@prydie With that said, then what's the proper way of scaling here ?

[2019-08-08 10:20] sufiaalmas commented on #252
I am facing the same issue. Did you find the solution?

[2019-09-04 18:02] deepak71 opened #290 "Database not yet running. Waiting..."
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

When we create a simple MySQL cluster in a namespace other than default one its failing to create a new MySQL cluster after creating the mysql-agent ServiceAccount and RoleBinding in that new namespace. But it successfully creating the MySQL cluster in default namespace.

## Versions
MySQL Docker Image 8.0.12-1.1.7

**MySQL Opera

[2019-10-03 15:31] the-scott-hand commented on #250
Ran into same issue, prydie's solution worked for me.
1. Create secret
kubectl create secret generic  my-password-secret --from-literal=password=supersecretpassword
2. Reference it in "Cluster" CR
...
kind: Cluster
spec:
  members: 1
  rootPasswordSecret: my-password-secret
...

[2019-10-07 14:08] petershaw commented on #277
Like other issues (https://github.com/oracle/mysql-operator/pull/227) shown this should be handled by:
[code]

But I don't have any luck. The pod still has no resources.
I am on the current master branch.

Any Ideas?

[2019-10-09 13:06] lentzi90 commented on #106
Hi! I think you should revisit this issue with Kubernetes 1.16 now released. I tried installing the operator in minikube running 1.16 and got the following error: `Error: apiVersion "apps/v1beta1" in mysql-operator/templates/03-deployment.yaml is not available`.
In other words, unless you update the API versions, things will not work on new clusters starting with 1.16.

Changing `apps/v1beta1` to

[2019-10-13 09:55] AdityaMisra commented on #200
Can I work on this?

[2019-10-13 15:34] srflaxu40 opened #291 "Is Oracle Cloud a requirement for this deployment?"
Is Oracle Cloud a requirement for this deployment?

[2019-10-13 18:19] umocku opened #292 "Backups not excuting"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**: `iad.ocir.io/oracle/mysql-operator:0.3.0`

**Environment**:
- **Kubernetes version** (use `kubectl version`): `Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.6-gke.1", GitCommit:"61c30f98599ad5309185df308962054d9670bafa", GitTreeState:"clean", BuildDate:"2019-08-28T11:06:42Z",

[2019-10-17 10:34] pbabilas commented on #254
I'm curious, how did You solve that problem? I had to add ImagPullSecret to statefullset.go, becouse there was no that option.

[2019-10-17 12:35] owainlewis commented on #106
Thanks @lentzi90. You're correct. We need to look into this and publish a new release.

[2019-10-17 12:36] owainlewis commented on #291
Hey. No. I've personally tested the operator on multiple cloud vendors. It only requires a Kubernetes cluster to run.

[2019-10-17 12:36] #291 closed, assigned to owainlewis

[2019-10-17 14:11] srflaxu40 commented on #291
Thanks @owainlewis !

[2019-10-23 13:59] ruanshudong commented on #262
I got same problem, how to resolve this problem??

[2019-10-26 09:30] yacinelazaar commented on #254
Where exactly do you reference that ConfigMap next? and what If you wanted to create different clusters with different mysql images if this is referenced in the operator?

[2019-10-29 17:16] nataz77 opened #293 "Failed to get the cluster status: exit status 1"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**: 0.3.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.14.3
- **Cloud provider or hardware configuration**: 4VM (2vCPU, 8GB) running in private cloud
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): Linux 4.4.0-159-generic #187-Ubuntu SMP Thu Aug

[2019-10-30 11:50] jonesmith518 commented on #252
Mabe MySQL-operator is using the wrong version of agent and operator docker img, which is making me mad and troubled about 3 days

[2019-11-03 11:21] petershaw commented on #106
Any updates so far? Is there a quick workaround for that issue?

[2019-11-07 10:29] SebEchis commented on #290
Same error :/ Dunno what to do ...?

[2019-11-14 10:58] jserviceorg opened #294 "still in active development or dead?"
is this project still in active development or dead? last commits are a few months old

[2019-11-15 04:23] daniel-sullivan commented on #293
Experiencing the same issue here. Did you end up having any luck with it?

[2019-11-15 10:38] nataz77 commented on #293
Unfortunately not, still trying to work around it.

[2019-11-18 01:18] daniel-sullivan commented on #293
Apologies for the delay from my end - actually got it working! Turns out that if your rootPasswordSecret contains any interesting characters (I'm guessing a "$"?) it fails like that (I troubleshot by going back to the most simple config and re-adding attributes until it failed)

[2019-11-18 11:06] nataz77 commented on #293
There was a $ indeed in the password; removing that everything went fine!
Thank you @daniel-sullivan !

[2019-11-18 11:06] #293 closed, assigned to nobody

[2019-11-26 10:19] figassis opened #295 "Members unable to join when schedules in different nodes"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**: 0.3.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.15.0
- **Cloud provider or hardware configuration**: Hetzner Root Server
- **OS** (e.g. from /etc/os-release): Ubutnu 18.04.3 LTS (Bionic Beaver)
- **Kernel** (e.g. `uname -a`):Linux node1 4.15.0-60-generic #67-Ubuntu SMP Thu

[2019-11-27 16:46] owainlewis commented on #294
Hey @jserviceorg. The project hasn't had much attention lately since myself and @prydie have been rather busy. We'd like to pick up development again at some point but we don't know when. Until then, if you have any PRs or feature requests we'd be happy to take a look. Thanks.

[2019-11-28 09:32] slipu120 opened #296 "Unable to bound PV for mysql cluster 3 members."
## Is this a BUG REPORT or FEATURE REQUEST?
YES
Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**MySQL Operator Version**:

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
Unable to bound PV for mysql cluster 3 members.
#

[2019-11-28 16:42] figassis commented on #295
Issue is related to https://github.com/projectcalico/calico/issues/1709.

[2019-11-28 16:42] #295 closed, assigned to nobody

[2019-12-05 18:23] ghost opened #297 "Use MYSQL 5.6"
## Is this a BUG REPORT or FEATURE REQUEST?

NO
I'm wondering is is possible to use MYSQL 5.6 instead of the default version 8.
If yes where can I edit that ?
Thanks

## Versions

**MySQL Operator Version**:

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Ot

[2019-12-05 19:51] bweston92 commented on #297
8.0.11 is minimum this operator supports.

[2019-12-20 10:03] yanbaotong commented on #297
1.Configure configmap in the operator

apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-operator-config
  namespace: clouddb
  labels:
    app: mysql-operator
data:
  mysql-operator-config.yaml: |
    images:
      defaultMysqlServer: **********/mysql/mysql-server
2.Specify version in cluster

[2019-12-20 14:47] ghost commented on #297
@swcsg
Thanks for your comment.
Do I have to make both changes 1 and 2 or either will work
Because I tried #2 like this

apiVersion: mysql.oracle.com/v1alpha1
kind: Cluster
metadata:
  name: mysql-enterprise
spec:
  version: "5.6"
  repository: store/oracle/mysql-enterprise-server

but I didn't know which repository to use

[2019-12-27 03:08] yanbaotong commented on #297
apiVersion: v1
kind: ConfigMap
metadata:
name: mysql-operator-config
namespace: clouddb
labels:
app: mysql-operator
data:
mysql-operator-config.yaml: |
images:
defaultMysqlServer: !!!your repository!!!

[2019-12-31 00:45] cuijxin opened #298 "How can I run mysql-operrator release01 and mysql-operator latest at the same cluster?"
Hi everybody, Happy New Year!

Because I want to create mysql 5.7 and mysql 8.0.12 cluster both, So I want to run mysql-operator release-01 version and mysql-operator latest version at the same cluster both, Could I? By the way If I can, how?

[2019-12-31 02:39] cuijxin commented on #297
When after I created this configmap, should I recreate mysql-opeartor? I create configmap use this yaml:
[code]
and I create cluster use this yaml:
[code]
but, I got error "E1231 02:46:46.139155       1 controller.go:291] error syncing 'mysql-operator/mysql-test': validating Cluster: spec.version: Invalid value: "5.7.20-1.1.2": minimum supported MySQL version is 8.0.11" finally.

[2019-12-31 10:27] delgod commented on #298
Hi @cuijxin,

typically it is recommended to run separate operators in separate namespaces.
Operators should have ServiceAccounts which are limited by one namespace.
it is the default configuration in Percona Operator - https://github.com/Percona-Lab/percona-xtradb-cluster-operator

[2020-01-03 07:47] swcsg commented on #297
Look at your  operator.yaml file

[2020-01-04 23:18] engmsaleh commented on #259
I have the same issue, Do anyone has a solution for that?

[2020-01-09 07:10] tony84727 opened #301 "Allow to add image pull secret"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

## Versions

**MySQL Operator Version**: 0.3.0

## What happened?

I'm testing my fork of mysql operator. I pushed `mysql-operator` and `mysql-agent` to a private image registry. To allow Kubernetes to pull the images, I need to specify `imagePullSecrets` to both the operator pod and Mysql pods.

## What you expected to happen?

The helm

[2020-01-25 15:30] Maannniii opened #304 "support for kubernetes 1.16+"
### Type: Bug

## Affected Versions

**MySQL Operator Version**: All (tested with 0.2.0)
**Kubernetes version**: 1.16+

## Behaviour:
mysql-operator doesn't run as expected due to the usage of deprecated APIs.

## Expectation:
Should support and run properly in Kubernetes 1.16 and above. But runs properly only till version 1.15

## Steps to reproduce:
1. Install any version of Kubernetes 1.16 and

[2020-01-28 12:39] avash-k opened #305 "mysql-operator pod "image pull backoff""
## BUG REPORT

## Versions

**MySQL Operator Version**: 0.3.0

**Environment**: Linux
- **Kubernetes version** (use `kubectl version`): Client Version: v1.14.3, Server Version: v1.14.10
- **Cloud provider or hardware configuration**: IBM Kubernetes service
- **OS** (e.g. from /etc/os-release):  rhel 7.7 amd_x64
- **Kernel** (e.g. `uname -a`): Linux
- **Others**:

## What happened?
mysql-operator p

[2020-01-31 12:52] avash-k commented on #305
ya finally the above mentioned image:tag is being pulled successfully . maybe that tag was down for some time

[2020-01-31 12:52] #305 closed, assigned to nobody

[2020-01-31 16:15] ghost opened #306 "Primary Key"
##  What happened?
I'm trying to import my existing database to one of the MYSQL Pods but I get this error

`Plugin group_replication reported Table does not have any PRIMARY KEY This is not compatible with Group Replication`

Do all the table in my database have to have Primary Key ? or is there a way to overpass this ?

[2020-02-09 23:42] kktam opened #307 "mysql-operator failed when installing to kubernetes 1.16.x"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

When installing mysql-operator into Kubernetes 1.16 using helm, (following instructions from [https://github.com/oracle/mysql-operator/blob/master/docs/tutorial.md](https://github.com/oracle/mysql-operator/blob/master/docs/tutorial.md)) the installation failed with following error

[code]

## Versions

**MySQL Operator Version**:  based on g

[2020-02-09 23:43] kktam commented on #307
Wondering if this is related to following 2 bugs

[https://github.com/helm/helm/issues/7073](https://github.com/helm/helm/issues/7073) and
[https://github.com/oracle/mysql-operator/issues/304](https://github.com/oracle/mysql-operator/issues/304)

[2020-02-18 12:32] GLYASAI commented on #307
I have the same problem, so I modified the code, you can refer to this PR #308

[2020-02-22 15:51] jfmrm commented on #244
any update on this? For production environments this would be a great feature

[2020-02-26 02:14] aesirteam commented on #307
kube-apiserver add args:
--runtime-config=api/all=true

try agian

[2020-02-29 10:40] JannikZed commented on #307
facing the same issue.. when will PR #308 be merged?

[2020-03-16 21:10] ghost opened #309 "Can this operator be used for multi cluster service mesh (e.g. istio)?"
Can this operator be used for multi cluster service mesh (e.g. istio)?

[2020-03-21 20:51] betorcs opened #310 "Failed to list *v1.PartialObjectMetadata: the server could not find the requested resource"
## BUG REPORT

## Versions

**MySQL Operator Version**: `master`

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Helm version**:
[code]

- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):

```Linux k8s1.devmaster.org 4.15.0-76-generic #86-Ubuntu SMP Fri Jan 17 17:24:28 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux```

- **Others**:

## What happe

[2020-03-27 09:54] #275 closed

[2020-03-30 10:41] haneka2019 commented on #304
Hi, I use the following workaround and it works: sudo nano /etc/kubernetes/manifests/kube-apiserver.yaml ; Go to section spec: -> containers: -> - command: And add this: - --runtime-config=apps/v1beta1=true,extensions/v1beta1/deployments=true.

[2020-04-14 07:48] owainlewis opened #311 "Should upgrade Docker base image to oraclelinux:7-slim"
The current Docker base images aren't well supported. We should update to the slim base image.

[2020-04-20 16:31] sudarshanaks opened #312 "How enable SSL connection for existing cluster?"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**MySQL Operator Version**: latest

**Environment**: IBM Kubernetes Service
- **Kubernetes version** (use `kubectl version`):v1.14.9
- **Cloud provider or hardware configuration**: IBM Cloud
- **OS** (e.g. from /etc/os-release):7.5
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
No

[2020-04-28 12:33] sebastien-prudhomme commented on #310
Related to this bug in Kubernetes: kubernetes/kubernetes#79610

[2020-04-28 13:57] Maannniii commented on #304
Thanks for your efforts. It is really appreciated.
However, I'm not sure whether this is applicable in cloud providers like AWS, GCP, DigitalOcean, AKS.

[2020-05-12 23:28] lsadehaan opened #313 "Is this project abandoned?"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**MySQL Operator Version**:

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

## What you expected to happen?

## How to reproduc

[2020-05-13 09:05] bweston92 commented on #313
see #255

[2020-05-13 19:54] lsadehaan commented on #313
So I guess the initial release was just very good!
The reason I asked is because:

1. The git front-page indicates that the latest codebase doesn't compile
2. There's a lot of pull requests that seem to hanging around since 2018
3. There's quite a few issues without replies
4. I will be using Kubernetes 1.17 - it appears to not support anything newer than 1.15? There is a pull request to support 1

[2020-05-18 06:43] gouthamk10 opened #314 "mysql-operator"
Hi All.
just need help on below installing MySQL-operator with the below command.
I am getting the error

[root@k8s-master ~]# helm install \

Error: unknown flag: --name

[2020-05-19 19:19] wagnerjfr commented on #314
I think `--name` is the syntax for helm version 2. Helm version 3 you can do like:
`helm install mysql-operator mysql-operator`

Like I did in my repo:
https://github.com/wagnerjfr/oracle-mysql-operator-innodb-kubernetes

I double checked my steps today and it seems to work.

[2020-05-20 01:24] gouthamk10 commented on #314
Hi Wagnerjfr.
Thanks for your follow up on the issue.
I cloned the mysql-operator from git hub

git clone git@github.com:oracle/mysql-operator.git
drwxr-xr-x  15 root root     4096 May 19 18:23 mysql-operator

2.the mysql-operator has been copied on my server
after that i cd to the directory
3. cd mysql-operator
4. after that i updated helm repo
helm repo update
[root@k8s-master mysql-operator]# h

[2020-05-24 05:37] jmordica commented on #313
Any updates on supporting newer versions of Kubernetes?

[2020-05-26 08:16] bweston92 commented on #313
@owainlewis is there any plans to support newer versions of Kubernetes?

[2020-05-26 08:35] lsadehaan commented on #313
Note that the this original issue asking whether this project is still alive is more than a year old already and the developer that replied saying it is alive back then has told me now that unfortunately it seems to have died and that it is a real shame since there are no actively maintained operators for innodb cluster at the moment.

[2020-05-29 13:11] bweston92 commented on #314
@gouthamk10 your version of K8s above 1.15 see #308

[2020-05-29 13:13] bweston92 commented on #313
Does anyone know if the license allows us to fork? Seems that #308 by @GLYASAI has done a lot of work to support K8s v1.16+

[2020-05-29 13:29] bweston92 commented on #313
There is also https://github.com/presslabs/mysql-operator which looks actively maintained.

[2020-05-29 13:38] lsadehaan commented on #313
That is not based on InnoDB Cluster but rather async replication and Percona DB (mysql 5.7)

[2020-05-29 13:41] bweston92 commented on #313
@lsadehaan ahh ok, @owainlewis / @prydie can get some maintainers outside of Oracle to start helping this? I am unable to upgrade clusters pass Kubernetes v1.15 at the minute.

[2020-06-23 07:16] imranrazakhan opened #315 "sed: couldn't open temporary file /etc/seduRpjvl: Permission denied"
## Is this a BUG REPORT or FEATURE REQUEST?
Yes

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**MySQL Operator Version**:

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.17.3 and 1.11.1 (tried on both)
- **Cloud provider or hardware configuration**: BareMetal
- **OS** (e.g. from /etc/os-release): CentOS 7.8
- **Kernel** (e.g. `uname -a`):  3.10.0-1062.1.2.el7.x86_6

[2020-06-24 08:11] imranrazakhan commented on #293
I have plain text for password and still getting error, Infact i am able to login to mysql container and run queries

[2020-06-24 09:16] bweston92 commented on #293
@imranrazakhan what version of Kubernetes are you running? Are the MySQL pods there?

[2020-06-24 09:25] imranrazakhan commented on #293
@bweston92  I have kubernetes 1.17.3 and yes Pods are available, i have to edit stateful apiversion to make it work for 1.17.3

[2020-07-30 03:44] chinglinwen commented on #313
I found a critical issue for this project, even for multi-master mode (of three nodes), if the r/w node down, it can't fail over to new node(even after 40 minutes), and so can't write any new data to the mysql database.

after 40 minutes. still can't getcluster.
[code]

node restarted, after a about 40 minutes, it still can't recover somehow,

[code]

I'd suggest someone do the same test of ha fai

[2020-08-14 14:57] mvukadinoff commented on #304
We're hitting this:

[code]

Also v1beta1.StatefulSet has been depricated in 1.16

[2020-09-22 19:19] srijithnediyedath opened #316 "Mysql operator throwing errors"
Iam using k8s cluster v1.16. Tried installing mysql operator and the cluster. The operator is throwing the below error

`E0922 14:47:54.316492       1 reflector.go:205] github.com/oracle/mysql-operator/vendor/k8s.io/client-go/informers/factory.go:87: Failed to list *v1beta1.StatefulSet: the server could not find the requested resource
I0922 14:47:55.316767       1 reflector.go:240] Listing and wat

[2020-09-22 19:34] bweston92 commented on #316
See #304 also see #313

[2020-09-23 09:55] srijithnediyedath commented on #316
Thank you @bweston92 , i was looking for an alternative where i can manage my mysql 8x running on k8s v1.16 with replication backup and restore.

[2020-10-14 09:01] sadate opened #317 "Cannot create mysql cluster on k8s v1.10.11"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**MySQL Operator Version**:
v0.3.0

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11", GitCommit:"637c7e288581ee40ab4ca210618a89a555b6e7e9", GitTreeState:"archive", BuildDate:"2018-12-07T20:49:26Z", GoVersion:"go1.9.4", Compiler:"gc", Plat

[2020-10-29 16:02] alsbury commented on #255
The readme file suggests this operator should not be used for production. Is that still true?

[2020-10-29 16:06] bweston92 commented on #255
@alsbury this operator hasn't been maintained and does not support Kubernetes after 1.16.

[2020-10-29 20:51] jwklugh commented on #290
I wish I had a solution to this problem, but what I have at the moment is a workaround (which completely defeats the purpose of how to replicate the bug).

I ran into the same error installing on an openshift cluster in the `default` namespace and using the global flag in the helm values file. oracle/mysql-operator seems to have a _lot_ of trouble when working in a namespace that isn't `mysql-oper

[2020-10-29 23:09] bweston92 commented on #290
https://github.com/oracle/mysql-operator/blob/9aebcc37a080283bdc199d7150d91f2e9bfa4e2c/pkg/controllers/cluster/manager/innodb_cluster.go#L42

[2020-12-03 00:04] sjmudd opened #318 "Please add mysql operator support for MySQL 8.0"
## This is a feature request

- MySQL 8.0 is the latest GA version of MySQL and has been that way for a couple of years so it would be good to provide examples with the latest version, and comment if it works on "older versions", e.g. 5.7, 5.6, 5.5, ....
-  I see from https://github.com/oracle/mysql-operator/issues/314 that there are already reported issues of confusion with helm2/helm3. It would

[2020-12-10 07:00] sasipune opened #319 "mysql-operator image pull issue"
I am getting following error when mysql-operator is being installed using a helm chart.

Failed to pull image "iad.ocir.io/oracle/mysql-operator:0.3.0": rpc error: code = Unknown desc = failed to pull and unpack image "iad.ocir.io/oracle/mysql-operator:0.3.0": **failed to resolve reference "iad.ocir.io/oracle/mysql-operator:0.3.0": no scope specified for token auth challenge**

But when I pull the

[2021-02-09 10:39] dhawal1304 commented on #314
Is there any way i can run this on K8s 1.16  and above.

[2021-02-10 10:38] bweston92 commented on #314
@dhawal1304 https://github.com/oracle/mysql-operator/pull/308 YMMV

[2021-02-15 23:51] Lexxos opened #320 "Keep up the good work"
This is exactly what the world needs. I have a couple of questions though, how well are the databases at scaling? If one has to scale large onto more servers does it boot smaller ones out or does it move to another server? I assume nothing is automatic on it yet.

[2021-05-12 01:44] dbaicss opened #322 "create Cluster kind with yaml,but there are no pod"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT
Choose one: BUG REPORT or FEATURE REQUEST
BUG REPORT
## Versions

**MySQL Operator Version**:
0.3.0
**Environment**:
- **Kubernetes version** (use `kubectl version`):
1.18.4
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
tlinux 2.4
- **Kernel** (e.g. `uname -a`):
4.14.105-19
- **Others**:
none

## What ha